@import "colors"

body
  display: flex
  flex-direction: column
  line-height: 180%
  color: $color-grey
  font-size: 1rem
  margin: 0

h1
  font-size: 2rem
  margin: 2rem 0

h1, h2, h3, h4, h5, h6, label
  color: $color-grey

h2
  font-size: 220%
h3
  font-size: 190%
h4
  font-size: 150%
h5
  font-size: 120%

a
  color: $color-light-blue
  -webkit-transition: color 300ms linear
  -ms-transition: color 300ms linear
  transition: color 300ms linear
  &:hover, &:focus
    background: none
    border: none
    color: $color-blue

p
  -moz-hyphens: auto
  -webkit-hyphens: auto
  -ms-hyphens: auto
  hyphens: auto

main
  display: flex
  flex-direction: column

html
  font-family: sans-serif

strong
  font-weight: bold

img
  border: 0

// flex
.flex
  display: flex

.wrap
  display: flex
  flex-wrap: wrap

.row
  display: flex
  flex-direction: row

.row-reverse
  display: flex
  flex-direction: row-reverse

.column
  display: flex
  flex-direction: column

.justify-center
  display: flex
  justify-content: center

.justify-between
  display: flex
  justify-content: space-between

// global
.vh70
  max-width: 70%

.mr2
  margin-left: 2rem
  margin-right: 2rem

.upper
  text-transform: capitalize

.responsive
  align-self: center
  max-width: 100%
  max-height: 100%
  height: auto

.center
  text-align: center

.inline
  display: inline

.red
  color: $color-red

.dark
  a
    color: $color-light-blue
  a:hover
    color: $color-blue

// application-wide
.text-block
  padding-left: 5%
  padding-right: 5%
  font-family: FreeSans, Arimo, Helvetica, Arial
.text-block.content, .links-block, .contacts
  background: $color-white
.text-block.dark
  h1, h2, h3, h4, h5, h6, label
    color: $color-grey
  a
    color: $color-light-blue
  a:hover
    color: $color-blue
  background: $color-light-grey
  color: $color-grey

.links-block
  height: 18vh

.content
  padding-bottom: 3%

.contacts-box
  justify-content: space-around
  padding: 1rem
  .contact
    min-width: 15%
    .link-block
      display: flex
      justify-content: space-between
      margin-left: 1rem
    .link
      padding-left: 1rem
    h4
      margin-left: 1rem

.footer
  background: $color-black
  text-align: center
  padding: 1rem
  color: $color-light-grey

.logo
  svg
    height: auto
    max-width: 100%
    width: 25rem
    transition: all 0.8s
    &:hover, &.highlight
      #ruby-bkg
        fill: $color-blue
        transition: all 0.5s
      #logo-bkg
        fill: $color-yellow
        transition: all 0.5s

.social-icon
  color: $color-blue
  fill: currentColor

  -webkit-transition: opacity 300ms linear
  -ms-transition: opacity 300ms linear
  transition: opacity 300ms linear
  &:hover, &:focus
    opacity: 0.5
    fill: currentColor

.social-links
  div
    align-self: flex-end
  .social
    text-decoration: none
    align-self: baseline
    margin: 0.2rem

.icon
  width: 2rem
  height: 2rem

.icon-big
  width: 3rem
  height: 3rem

#search
  display: flex
  position: realtive
  margin: 0 auto
  width: 80%
  resize: none

#search input[type=search], #search button
  display:block

#search input[type=search]
  flex: 1
  padding: 0.6em
  border: 0.2em

#search-submit
  padding: '0.6em 0.8em'
  background-color: $color-grey
  color: $color-white
  border: none
  &:hover, &:focus
    cursor:pointer

.gutter
  max-width: 2rem
  min-width: 2rem
  width: 2rem