.contacts-box
  display: flex
  justify-content: space-around
  flex-wrap: wrap
  padding: 1rem
  .contact
    display: flex
    flex-direction: column
    min-width: 15%
    .link-block
      display: flex
      justify-content: space-between
    .link
      padding-left: 1rem
//////////////////////////////
h1, h2, h3, h4, h5, h6, label
  color: #34495e

h2
  font-size: 220%
h3
  font-size: 190%
h4
  font-size: 150%
h5
  font-size: 120%

p
  -moz-hyphens: auto
  -webkit-hyphens: auto
  -ms-hyphens: auto
  hyphens: auto

.logo
  svg
    width: 100%
    height: 100%
    transition: all 0.8s
    &:hover, &.highlight
      #ruby-bkg
        fill: #0061D2
        transition: all 0.1s
      #logo-bkg
        fill: #F8E81C
        transition: all 0.1s
.roman_rott
  background: url(../images/roman-rott-in-hat.jpg)
  width: 418px
  height: 480px
  z-index: -2

.ribbon
  h1, h2, h3, h4, h5, h6, label
    color: #aaa
  a:hover
    color: #0061D2

.l-box
  padding: 1em

.l-box-lrg
  padding: 2em

.is-center
  text-align: center
a
  color: #1f8dd6
  text-decoration: none
  &:hover, &:focus
    background: none
    border: none
    color: #2d3e50
    text-decoration: none

.pure-g
  padding-left: 5%
  padding-right: 5%
.content.infosec
  .pure-g
    padding-right: 0
  .infosec-text
    padding-right: 10%
  padding: 1em
  padding-bottom: 0
  padding-right: 0
  .hat
    min-height: 460px
    position: relative
    &:hover
      .roman_rott
        background-position: 0px -480px
    .roman_rott
      position: absolute
      bottom: 0
      right: 0%
  .pure-g
    min-height: 460px

.section-header
  width: 100%
  text-align: center
.content-wrapper
  position: absolute
  top: 87%
  width: 100%
  min-height: 12%
  z-index: 2
  background: white

.content-head
  font-weight: 400
  letter-spacing: 0.1em
  margin: 1em 0 1em

.ribbon
  background: #2d3e50
  color: #aaa

.footer
  background: #111

