*
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box

body
  line-height: 1.7em
  color: #7f8c8d
  font-size: 13px

h1, h2, h3, h4, h5, h6, label
  color: #34495e

.pure-img-responsive
  max-width: 100%
  height: auto

.l-box
  padding: 1em

.l-box-lrg
  padding: 2em
  border-bottom: 1px solid rgba(0, 0, 0, 0.1)

.is-center
  text-align: center

.pure-form
  label
    margin: 1em 0 0
    font-weight: bold
    font-size: 100%
  input[type]
    border: 2px solid #ddd
    box-shadow: none
    font-size: 100%
    width: 100%
    margin-bottom: 1em

.pure-button
  background-color: #1f8dd6
  color: white
  padding: 0.5em 2em
  border-radius: 5px

a.pure-button-primary
  background: white
  color: #1f8dd6
  border-radius: 5px
  font-size: 120%

a
  color: #7f8c8d
  text-decoration: none
  &:hover, &:focus
    background: none
    border: none
    color: #1f8dd6
    text-decoration: none

.splash-container
  background: #1f8dd6
  //background-image: url("/images/original.png")
  background: url(/images/rott.png) no-repeat center center fixed
  -webkit-background-size: cover
  -moz-background-size: cover
  -o-background-size: cover
  background-size: cover
  z-index: 1
  overflow: hidden
  width: 100%
  height: 88%
  top: 0
  left: 0
  position: fixed !important

.splash
  width: 80%
  height: 50%
  margin: auto
  position: absolute
  top: 100px
  left: 0
  bottom: 0
  right: 0
  text-align: center
  text-transform: uppercase

.splash-head
  font-size: 20px
  font-weight: bold
  color: white
  border: 3px solid white
  padding: 1em 1.6em
  font-weight: 100
  border-radius: 5px
  line-height: 1em

.splash-subhead
  color: white
  letter-spacing: 0.05em
  opacity: 0.8

.content-wrapper
  position: absolute
  top: 87%
  width: 100%
  min-height: 12%
  z-index: 2
  background: white

.content-head
  font-weight: 400
  text-transform: uppercase
  letter-spacing: 0.1em
  margin: 2em 0 1em

.content-head-ribbon
  color: white

.content-subhead
  color: #1f8dd6
  i
    margin-right: 7px

.ribbon
  background: #2d3e50
  color: #aaa

.footer
  background: #111

@media (min-width: 48em)
  body
    font-size: 16px
  .content
    padding: 1em
  .home-menu
    text-align: left
    ul
      float: right
  .splash
    width: 50%
    height: 50%
  .splash-head
    font-size: 250%
  .l-box-lrg
    border: none

@media (min-width: 78em)
  .splash-head
    font-size: 300%