.splash
  margin: auto
  text-transform: uppercase
  font-size: 3rem
  color: white
  border: 0.2rem solid white
  padding: 4rem 5.2rem
  border-radius: 0.3rem

.splash-container
  background: url(../images/roman-rott-background.jpg)
  min-height: 82vh
  background-attachment: fixed
  background-position: center
  background-repeat: no-repeat
  background-size: cover
  display: flex

@media (max-width: 72em)
  .splash-container
    background: url(../images/roman-rott-background-small.jpg)
    min-height: 88vh
    background-attachment: fixed
    background-position: center
    background-repeat: no-repeat
    background-size: cover