%aside.portfolio-menu.center.row.wrap
  %div.dark.vw100
    .brand-title Blog
    %h1.brand-tagline Full-Stack web development and security researches
    %nav.nav
      %ul.nav-list
        %li.nav-item.slash
          %a{ href: "/", title: "Roman Rott's home page" } Home
        %li.nav-item
          %a{ href: "/portfolio/", title: "Roman Rott's Portfolio" } Portfolio
    .responsive.logo-small
      = partial('images/rrott-ruby-logo.svg').to_s
    .portfolio-contacts.blog-qr
      = partial 'partials/links'
      Open for remote job opportunities

    .search
      %form#search{  role: "search" }
        %input#search-field{ type: "search", placeholder: "Search", required: "required", autocomplete: "off", results: 5, autosave: "rrott_search", tabindex: 1, spellcheck: true, autocapitalize: "off", autocorrect: "off", autofocus: true, 'x-webkit-speech': true, maxlength: 30, title: 'Enter text to search in the blog' }
      %ul#results

    .share
      Share:
      .addthis_sharing_toolbox
