%ol.breadcrumb{ itemscope: true, itemtype: "http://schema.org/BreadcrumbList" }
  %li{ itemprop: "itemListElement", itemscope: true, itemtype: "http://schema.org/ListItem" }
    %a{ href: "/", itemprop: "item", title: 'home page' }
      %span.breadcrumb-el{ itemprop: "name" } Home
    %meta{ itemprop: "position", content: "1" }

  - breadcrumbs.each_with_index do |breadcrumb, index|
    %li{ itemprop: "itemListElement", itemscope: true, itemtype: "http://schema.org/ListItem" }
      - if breadcrumb[:url]
        %a{ href: breadcrumb[:url], itemprop: "item", title: breadcrumb[:title] }
          %span.breadcrumb-el{ itemprop: "name" }=breadcrumb[:title]
      - else
        %span.breadcrumb-el{ itemprop: "name" }=breadcrumb[:title]
      %meta{ itemprop: "position", content: index+2 }