%section.contacts.print-break
  %h2.contacts-message.center
    Contact information
  .contacts-box.wrap
    .contact.column
      %h3 contact me:
      .link-block
        .link-title gpg:
        .link
          %a{ href: "https://keybase.io/rrott", target: '_blank', rel: 'noopener noreferrer', title: "rrott's public keys" }
            keybase.io/rrott
      .link-block
        .link-title mail:
        .link
          %a{ href: "mailto:roman@rrott.com", title: 'mail address' }
            roman@rrott.com
      .link-block
        .link-title
        .link
          %a{ href: "mailto:roman.rrott@owasp.org", title: 'owasp mail address' }
            roman.rrott@owasp.org
      .link-block
        .link-title
        .link
          %a{ href: "mailto:rott.roman@protonmail.com", title: 'alternate mail address' }
            rott.roman@protonmail.com
      %h3.vc-card
        %a{ href: "/roman.rott.vcf", itemprop:"url", title: "Rott's Vcard" }
          my VCard
    .contact.resume-block
      %h3 my resume:
      .link-block
        .link-title
          %a{ href: "/cv/Roman.Rott.Resume.2023.pdf", rel: 'noopener', title: "Roman's resume in pdf formt" }<
            pdf
          &nbsp;|&nbsp;
          %a{ href: "/cv/Roman.Rott.Resume.2023.odt", rel: 'noopener', title: "Roman's resume in odt formt" }<
            odt
          &nbsp;|&nbsp;
          %a{ href: "/cv/Roman.Rott.Resume.2023.docx", rel: 'noopener', title: "Roman's resume in docx formt" }<
            docx
          &nbsp;|&nbsp;
          %a{ href: "https://docs.google.com/document/d/1nVnBvj_vwfYadlgxftUj_JAe3u_c3_HQL3ivyjTPRb0", target: '_blank', rel: 'nofollow noopener noreferrer', title: "Roman's resume in google docs" }
            google docs

      %h3.portfolio-link
        %a{ href: "/portfolio/", itemprop:"url", title: "web developer portfolio" }
          take a look at my portfolio

    .contact
      %h3.social-connections social connections:
      .link-block
        .link-title  twitter:
        .link
          %a{ href: 'https://twitter.com/roman_rott', target: '_blank', rel: 'nofollow noopener noreferrer', title: "twitter @Roman_Rott" }
            roman_rott
      .link-block.linkedin-links
        .link-title linkedin:
        .link
          %a{ href: 'https://www.linkedin.com/in/rrott', target: '_blank', rel: 'noopener noreferrer' }
            rrott
      .link-block
        .link-title  GitHub:
        .link
          %a.print{ href: 'https://github.com/rrott', target: '_blank', title: 'rrott - github', rel: 'noopener noreferrer' }
            rrott
      .link-block
        .link-title  GitLab:
        .link
          %a.print{  href: 'https://gitlab.com/u/rrott', target: '_blank', title: 'rrott - gitlab', rel: 'noopener noreferrer' }
            rrott
      %h3.blog-subscribe-link
        %a{ href: "/feed.xml", itemprop:"url", title: "Rss feed of rrott.com" }
          subscribe to my blog
