%section.contacts
  %h2.contacts-message.center
    Contact information
  .contacts-description.center.mr2.text-block
    If you are a business looking for a web presence or an employer who is eager to add a remote expertise feel free to get in touch with me right away!
  .contacts-box.wrap
    .contact.column
      %h4 contact me:
      .link-block
        .link-title linkedin:
        .link
          %a{ href: 'https://www.linkedin.com/in/rrott', target: '_blank', rel: 'noopener noreferrer' }
            Roman Rott
      .link-block
        .link-title skype:
        .link
          %a{ href: "skype:roman.rott?chat", title: 'skype contact', rel: 'nofollow' }
            roman.rott
      .link-block
        .link-title mail:
        .link
          %a{ href: "mailto:roman@rrott.com", title: 'mail address' }
            roman@rrott.com
      .link-block
        .link-title gpg:
        .link
          %a{ href: "https://keybase.io/rrott", target: '_blank', rel: 'noopener noreferrer', title: "rrott's public keys" }
            keybase.io/rrott
      %h4
        %a{ href: "/roman.rott.vcf", itemprop:"url", title: "Rott's Vcard" }
          download my VCard
    .contact
      %h4 my resume:
      .link-block
        .link-title pdf:
        .link
          %a{ href: "/cv/roman.rott.cv.2016.pdf", target: '_blank', rel: 'nofollow', title: "Roman's CV, resume in pdf formt" }
            open/download
      .link-block
        .link-title odt:
        .link
          %a{ href: "/cv/roman.rott.cv.2016.odt", target: '_blank', rel: 'nofollow', title: "Roman's CV, resume in odt formt" }
            download
      .link-block
        .link-title docx:
        .link
          %a{ href: "/cv/roman.rott.cv.2016.docx", target: '_blank', rel: 'nofollow', title: "Roman's CV, resume in docx formt" }
            download
      .link-block
        .link-title google docs:
        .link
          %a{ href: "#", target: '_blank', rel: 'nofollow noopener noreferrer', title: "Roman's CV, resume in google docs" }
            open
      %h4
        %a{ href: "/portfolio/", itemprop:"url", title: "web developer portfolio" }
          check out my portfolio
    .contact
      %h4 social connections:
      .link-block
        .link-title blog:
        .link
          %a{ href: '/blog/' }
            rrott.com/blog
      .link-block
        .link-title  twitter:
        .link
          %a{ href: 'https://twitter.com/roman_rott', target: '_blank', rel: 'nofollow noopener noreferrer', title: "twitter @Roman_Rott" }
            roman_rott
      .link-block
        .link-title  GitHub:
        .link
          %a{ href: 'https://github.com/rrott', target: '_blank', title: 'rrott - github', rel: 'noopener noreferrer' }
            rrott
      .link-block
        .link-title  GitLab:
        .link
          %a{  href: 'https://gitlab.com/u/rrott', target: '_blank', title: 'rrott - gitlab', rel: 'noopener noreferrer' }
            rrott
      %h4
        %a{ href: "/feed.xml", itemprop:"url", title: "Rss feed of rrott.com" }
          subscribe to my blog
  %h3.contacts-message.center.padding2 Lets build something great!
