%section.contacts.print-break
  %h2.contacts-message.center
    Contact information
  .contacts-box.wrap
    .contact.column
      %h3 contact me:
      .link-block
        .link-title gpg:
        .link
          %a{ href: "https://keybase.io/rrott", target: '_blank', rel: 'noopener noreferrer', title: "rrott's public keys" }
            keybase.io/rrott
      .link-block
        .link-title mail:
        .link
          %a{ href: "mailto:roman@rrott.com", title: 'mail address' }
            roman@rrott.com
      .link-block
        .link-title
        .link
          %a{ href: "mailto:roman.rrott@owasp.org", title: 'owasp mail address' }
            roman.rrott@owasp.org
      .link-block
        .link-title
        .link
          %a{ href: "mailto:rott.roman@protonmail.com", title: 'mail address' }
            rott.roman@protonmail.com
      %h3.vc-card
        %a{ href: "/roman.rott.vcf", itemprop:"url", title: "Rott's Vcard" }
          my VCard
    .contact.resume-block
      %h3 my resume:
      .link-block
        .link-title pdf:
        .link
          %a{ href: "/cv/Roman.Rott.Resume.2017.pdf", rel: 'noopener', title: "Roman's resume in pdf formt" }
            resume
          \/
          %a{ href: "/cv/Roman.Rott.CV.2017.pdf", rel: 'noopener', title: "Roman's CV in pdf formt" }
            CV
      .link-block
        .link-title odt:
        .link
          %a{ href: "/cv/Roman.Rott.Resume.2017.odt", rel: 'noopener', title: "Roman's resume in odt formt" }
            resume
          \/
          %a{ href: "/cv/Roman.Rott.CV.2017.odt", rel: 'noopener', title: "Roman's CV in odt formt" }
            CV
      .link-block
        .link-title docx:
        .link
          %a{ href: "/cv/Roman.Rott.Resume.2017.docx", rel: 'noopener', title: "Roman's resume in docx formt" }
            resume
          \/
          %a{ href: "/cv/Roman.Rott.CV.2017.docx", rel: 'noopener', title: "Roman's CV in docx formt" }
            CV
      .link-block
        .link-title google docs:
        .link
          %a{ href: "https://drive.google.com/open?id=1kE46bBi3kK8m6fO-bnBMEsLja-W2tmHPhHLe_MDhmPc", target: '_blank', rel: 'nofollow noopener noreferrer', title: "Roman's resume in google docs" }
            resume
          \/
          %a{ href: "https://drive.google.com/open?id=1HcFTcpI1RKlSVDF8WP0AhBAQn9n68VZaCjWIMOrdbRA", target: '_blank', rel: 'nofollow noopener noreferrer', title: "Roman's CV in google docs" }
            CV
      %h3.portfolio-link
        %a{ href: "/portfolio/", itemprop:"url", title: "web developer portfolio" }
          check out my portfolio
    .contact
      %h3.social-connections social connections:
      .link-block
        .link-title  twitter:
        .link
          %a{ href: 'https://twitter.com/roman_rott', target: '_blank', rel: 'nofollow noopener noreferrer', title: "twitter @Roman_Rott" }
            roman_rott
      .link-block.linkedin-links
        .link-title linkedin:
        .link
          %a{ href: 'https://www.linkedin.com/in/rrott', target: '_blank', rel: 'noopener noreferrer' }
            rrott
      .link-block
        .link-title  GitHub:
        .link
          %a.print{ href: 'https://github.com/rrott', target: '_blank', title: 'rrott - github', rel: 'noopener noreferrer' }
            rrott
      .link-block
        .link-title  GitLab:
        .link
          %a.print{  href: 'https://gitlab.com/u/rrott', target: '_blank', title: 'rrott - gitlab', rel: 'noopener noreferrer' }
            rrott
      %h3.blog-subscribe-link
        %a{ href: "/feed.xml", itemprop:"url", title: "Rss feed of rrott.com" }
          subscribe to my blog
  %h3.contacts-message.center.padding2 Lets build something great!
