.contacts-box
  .contact
    %h4 Contact Me:
    .link-block
      .link-title LinkedIn:
      .link
        %a{href: 'https://www.linkedin.com/in/rrott', target: '_blank', rel: 'noopener noreferrer'}
          Roman Rott
    .link-block
      .link-title Skype:
      .link
        %a{href: "skype:roman.rott?chat", title: 'skype contact', rel: 'nofollow'}
          roman.rott
    .link-block
      .link-title Mail:
      .link
        %a{href: "mailto:roman@rrott.com", title: 'mail address'}
          roman@rrott.com
    .link-block
      .link-title GPG:
      .link
        %a{href: "https://keybase.io/rrott", target: '_blank', rel: 'noopener noreferrer', title: "rrott's public keys"}
          keybase.io/rrott
    %h4
      %a{href: "/roman.rott.vcf", itemprop:"url", title: "Rott's Vcard"}
        Download my VCard
  .contact
    %h4 My Resume:
    .link-block
      .link-title Pdf:
      .link
        %a{href: "/cv/roman.rott.cv.2016.pdf", target: '_blank', rel: 'nofollow', title: "Roman's CV, resume in pdf formt"}
          open/download
    .link-block
      .link-title Odt:
      .link
        %a{href: "/cv/roman.rott.cv.2016.odt", target: '_blank', rel: 'nofollow', title: "Roman's CV, resume in odt formt"}
          download
    .link-block
      .link-title Docx:
      .link
        %a{href: "/cv/roman.rott.cv.2016.docx", target: '_blank', rel: 'nofollow', title: "Roman's CV, resume in docx formt"}
          download
    .link-block
      .link-title Google Docs:
      .link
        %a{href: "#", target: '_blank', rel: 'nofollow noopener noreferrer', title: "Roman's CV, resume in google docs"}
          open
    %h4
      %a{href: "/portfolio/", itemprop:"url", title: "web developer portfolio"}
        Check out my portfolio
  .contact
    %h4 Social Connections:
    .link-block
      .link-title Blog:
      .link
        %a{href: '/blog/'}
          rrott.com/blog
    .link-block
      .link-title  Twitter:
      .link
        %a{href: 'https://twitter.com/roman_rott', target: '_blank', rel: 'nofollow noopener noreferrer', title: "twitter @Roman_Rott"}
          roman_rott
    .link-block
      .link-title  GitHub:
      .link
        %a{href: 'https://github.com/rrott', target: '_blank', title: 'rrott - github', rel: 'noopener noreferrer'}
          rrott
    .link-block
      .link-title  GitLab:
      .link
        %a{href: 'https://gitlab.com/u/rrott', target: '_blank', title: 'rrott - gitlab', rel: 'noopener noreferrer'}
          rrott
    %h4
      %a{href: "/feed.xml", itemprop:"url", title: "Rss feed of rrott.com by Roman Rott"}
        Subscribe to my Blog