.social-links.flex.wrap
  %a.social{href: 'https://www.linkedin.com/in/rrott', target: '_blank', rel: 'nofollow noopener noreferrer', title: "Roman Rott's linkedin"}
    %em.icon-linkedin
  %a.social{href: 'https://github.com/rrott', target: '_blank', rel: 'nofollow noopener noreferrer', title: "rrott GitHub account"}
    %em.icon-github-circled
  %a.social{href: 'https://twitter.com/roman_rott', target: '_blank', rel: 'nofollow noopener noreferrer', title: "Twitter acc of Roman Rott"}
    %em.icon-twitter
  %a.social{href: "skype:roman.rott?chat", title: "Roman Rott's Skype: roman.rott"}
    %em.icon-skype
  %a.social{href: "mailto:roman@rrott.com", title: "Roman Rott's email"}
    %em.icon-mail-alt
