%meta{ charset: "UTF-8" }
%meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
-# %meta(http-equiv="cleartype" content="on")
-# %meta(http-equiv="Content-Security-Policy" content="img-src "self" data:; default-src "self" http://127.0.0.1:4567/")

%meta{ name: "viewport", content: "width=device-width, initial-scale=1" }
%meta{ content: "True", name: "HandheldFriendly" }
%meta{ content: "320",  name: "MobileOptimized" }
%link{ rel: "preconnect",  href: "//ssl.google-analytics.com" }
%link{ rel: "subresource", href: "//s7.addthis.com/js/300/addthis_widget.js" }

%link{ href: "https://rrott.com/feed.xml", rel: "alternate", title: "RSS feed of rrott.com by Roman Rott", type: "application/rss+xml" }
-# favicons
%link{ rel: "icon", type:"image/png", href: "/favicon-32x32.png",          sizes: "32x32" }
%link{ rel: "icon", type:"image/png", href: "/favicon-194x194.png",        sizes: "194x194" }
%link{ rel: "icon", type:"image/png", href: "/favicon-96x96.png",          sizes: "96x96" }
%link{ rel: "icon", type:"image/png", href: "/android-chrome-192x192.png", sizes: "192x192" }
%link{ rel: "icon", type:"image/png", href: "/favicon-16x16.png",          sizes: "16x16" }
%link{ rel: "manifest",  href: "/manifest.json" }
%link{ rel: "mask-icon", href: "/safari-pinned-tab.svg" }
-# %link{ rel:"amphtml", href: "https://rrott.com/amp" }
%meta{ name: "apple-mobile-web-app-title",            content: "rrott.com" }
%meta{ name: "apple-mobile-web-app-status-bar-style", content: "black-translucent" }
%meta{ name: "application-name",                      content: "rrott.com" }
%meta{ name: "format-detection",                      content: "telephone=no" }
%meta{ name: "msapplication-TileColor",               content: "#1f8dd6" }
%meta{ name: "msapplication-TileImage",               content: "/mstile-144x144.png" }
%meta{ name: "msapplication-square150x150logo",       content: "/mstile-150x150.png" }
%meta{ name: "theme-color",                           content: "#ffffff" }

-# Twitter
%meta{ name: "twitter:card",         content: "summary" }
%meta{ name: "twitter:site",         content: site.main.twitter }
%meta{ name: "twitter:title",        content: site.main.title }
%meta{ name: "twitter:description",  content: site.main.description }
%meta{ name: "twitter:creator",      content: site.main.twitter }

-# Open Graph General (Facebook & Pinterest)
%meta{ property: "og:url",           content: site.main.url }
%meta{ property: "og:title",         content: site.main.title }
%meta{ property: "og:description",   content: site.main.description }
%meta{ property: "og:site_name",     content: site.main.title }
%meta{ property: "og:image",         content: site_config.logo_img }
%meta{ property: "fb:app_id",        content: "1714618322129281" }
%meta{ property: "og:type",          content: "website" }
%meta{ property: "og:locale",        content: "en_US" }
%meta{ property: "article:author",   content: "Roman Rott" }
%meta{ property: "fb:admins",        content: "1440136372" }

%meta{ itemprop: "name",             content: site.main.title }
%meta{ itemprop: "description",      content: site.main.description }
%meta{ itemprop: "image",            content: site.main.image }
%meta{ content:  "Roman Rott", name:"author" }

%link{ type: "text/plain", rel:"author", href: "/humans.txt" }
%meta{ name: "robots",     content:"index,follow" }
%meta{ name: "subject",    content: site.main.title }
%meta{ name: "url",        content: site.main.url }
%meta{ name: "rating",     content: "General" }
%meta{ name: "directory",  content: "submission" }
%meta{ name: "coverage",   content: "Worldwide" }
