%section.post
  %header.post-header
    %h2.post-title FindMeGetMe.xyz - fake dating service.
    %p.post-meta
      By
      %a.post-author{:href => "/"} Roman Rott
      using
      %a.post-category{:href => "#"} Ruby
      %a.post-category{:href => "#"} Sinatra
      %a.post-category{:href => "#"} DigitalOcean
  .post-description
    .post-images.pure-g
      .pure-u-1.pure-u-md-1-2
        %img.largeImg.pure-img-responsive{:alt => "findmegetme", :src => "/images/portfolio/uisg11/findmegetme/find-me-get-me-ctf.png"}/
        #thumbs
          %ul
            %li
              %a{:href => "/images/portfolio/ira-rott-com/irarott-com.png", :title => "Image 2"}
                %img{:src => "https://js.cx/gallery/img2-thumb.jpg"}/
            %li
              %a{:href => "https://js.cx/gallery/img3-lg.jpg", :title => "Image 3"}
                %img{:src => "https://js.cx/gallery/img3-thumb.jpg"}/
            %li
              %a{:href => "https://js.cx/gallery/img4-lg.jpg", :title => "Image 4"}
                %img{:src => "https://js.cx/gallery/img4-thumb.jpg"}/
            %li
              %a{:href => "https://js.cx/gallery/img5-lg.jpg", :title => "Image 5"}
                %img{:src => "https://js.cx/gallery/img5-thumb.jpg"}/
      .pure-u-1.pure-u-md-1-2.post-description
        %p
          «FindMeGetMe» is a fake Dating website with an api for mobile application created for a CTF(Capture The Flag security game) organised for
          %a{href: "https://11.uisgcon.org/en/about-uisgcon", target: '_blank'}
            UISGCon 11(2015) -
          Ukrainian InfoSec conference held by Non Government Organisation
          %b «Ukrainian Information Security Group»
          .pure-u-1
            This Dating website had no real users or profiles and was created with a pre-defined vulnerabilities related to Redis. I used a Free design and added vulnerable Rack application that gets photos from Redis service using Sockets technology.
        %br
        .pure-u-1
          %b Role:
          Full-Stack developer, second Game-Master
        %br
          %b Responsibilities:
          Creating back-end, integrating free design, configuring and optimysing web, redis servers, monitoring services and the application during the games. Creating api for an mobile app.
        .pure-u-1
          %b Languages:
          Ruby 2.2
        .pure-u-1
          %b Frameworks/Libs:
          Sinatra
        .pure-u-1
          %b Other technologies:
          Redis
        .pure-u-1
          %b Status:
          «FindMeGetMe» is offline now due to the kind of applications created for CTF games.

