%section.post
  %header.post-header
    %h2.post-title FindMeGetMe.xyz - fake dating service.
    %p.post-meta
      By
      %a.post-author{:href => "/"} Roman Rott
      using
      %a.post-category{:href => "#"} Ruby
      %a.post-category{:href => "#"} Sinatra
      %a.post-category{:href => "#"} DigitalOcean
  .post-description
    .post-images.pure-g
      .pure-u-1.pure-u-md-1-2
        %img.largeImg.pure-img-responsive{alt: "FindMeGetMe CTF site", :src => "/images/portfolio/uisg11/findmegetme/findmegetme-website.png"}/
        #thumbs
          %ul
            %li
              %a{:href => "/images/portfolio/uisg11/findmegetme/findmegetme-website.png", :title => "Website's screenshot"}
                %img{:src => "/images/portfolio/uisg11/findmegetme/findmegetme-website-thumb.png", alt: "FindMeGetMe CTF site. Website's screenshot"}/
            %li
              %a{:href => "/images/portfolio/uisg11/findmegetme/findmegetme-api.png", :title => "Api part of site"}
                %img{:src => "/images/portfolio/uisg11/findmegetme/findmegetme-api-thumb.png", alt: "FindMeGetMe CTF site. Api part of site"}/
            %li
              %a{:href => "/images/portfolio/uisg11/findmegetme/findmegetme-socket.png", :title => "Sockets"}
                %img{:src => "/images/portfolio/uisg11/findmegetme/findmegetme-socket-thumb.png", alt: "FindMeGetMe CTF site. Sockets"}/
            %li
              %a{:href => "/images/portfolio/uisg11/findmegetme/findmegetme-app.png", :title => "Website's source code"}
                %img{:src => "/images/portfolio/uisg11/findmegetme/findmegetme-app-thumb.png", alt: "FindMeGetMe CTF site. Website's source code"}/
            %li
              %a{:href => "/images/portfolio/uisg11/findmegetme/findmegetme-static.png", :title => "Static site's source code"}
                %img{:src => "/images/portfolio/uisg11/findmegetme/findmegetme-static-thumb.png", alt: "FindMeGetMe CTF site. Static site's source code"}/

      .pure-u-1.pure-u-md-1-2.post-description
        %p
          «FindMeGetMe» is a fake Dating website with an api for mobile application created for a CTF(Capture The Flag security game) organised for
          %a{href: "https://11.uisgcon.org/en/about-uisgcon", target: '_blank'}
            UISGCon 11(2015) -
          Ukrainian InfoSec conference held by Non Government Organisation
          %b «Ukrainian Information Security Group»
          .pure-u-1
            This Dating website had no real users or profiles and was created with a pre-defined vulnerabilities related to Redis. I used a Free design and added vulnerable Rack application that gets photos from Redis service using Sockets technology.
        %br
        .pure-u-1
          %b Role:
          Full-Stack developer, second Game-Master
        %br
          %b Responsibilities:
          Creating back-end, integrating free design, configuring and optimysing web, redis servers, monitoring services and the application during the games. Creating api for an mobile app.
        .pure-u-1
          %b Languages:
          Ruby 2.2
        .pure-u-1
          %b Frameworks/Libs:
          Sinatra
        .pure-u-1
          %b Other technologies:
          Redis
        .pure-u-1
          %b Status:
          «FindMeGetMe» is offline now due to the nature of applications created for CTF games.

