%section.post
  %header.post-header
    %h2.post-title IraRott.com - online store of knit and crochet patterns
    %p.post-meta
      By
      %a.post-author{:href => "/"} Roman Rott
      using
      %a.post-category{:href => "#"} Ruby
      %a.post-category{:href => "#"} Padrino
      %a.post-category{:href => "#"} Jquery
      %a.post-category{:href => "#"} CoffeeScript
      %a.post-category{:href => "#"} DigitalOcean
  .post-description
    .post-images.pure-g
      .pure-u-1.pure-u-md-1-2
        %img.largeImg.pure-img-responsive{:alt => "IraRott.com - online store of knit and crochet patterns", :src => "/images/portfolio/ira-rott-com/irarott-com.png"}/
        #thumbs
          %ul
            %li
              %a{:href => "/images/portfolio/ira-rott-com/irarott-com.png", :title => "Online store of knit and crochet patterns"}
                %img{:src => "/images/portfolio/ira-rott-com/irarott-com-thumb.png", alt: 'IraRott.com - online store of knit and crochet patterns'}/
            %li
              %a{:href => "/images/portfolio/ira-rott-com/irarott-com-pattern.png", :title => "Pattern page"}
                %img{:src => "/images/portfolio/ira-rott-com/irarott-com-pattern-thumb.png", alt: 'IraRott.com - pattern page'}/
            %li
              %a{:href => "/images/portfolio/ira-rott-com/irarott-com-pattern-admin.png", :title => "Admin page"}
                %img{:src => "/images/portfolio/ira-rott-com/irarott-com-pattern-admin-thumb.png", alt: 'IraRott.com - admin page'}/
            %li
              %a{:href => "/images/portfolio/ira-rott-com/irarott-com-pattern-admin-category.png", :title => "Category admin page"}
                %img{:src => "/images/portfolio/ira-rott-com/irarott-com-pattern-admin-category-thumb.png", alt: 'IraRott.com - category admin page'}/
            %li
              %a{:href => "/images/portfolio/ira-rott-com/irarott-com-admin-newrelic.png", :title => "Newrelic stats"}
                %img{:src => "/images/portfolio/ira-rott-com/irarott-com-admin-newrelic-thumb.png", alt: 'IraRott.com - newrelic stats'}/
      .pure-u-1.pure-u-md-1-2.post-description
        .pure-u-1
          %b About:
          Ira Rott is a Knit & Crochet Designer living in Southern Ontario, Canada. This website is her online shopping cart for selling digital material (pdf files with patterns).
        .pure-u-1
          There are hundreds paid and dozens free pdf patterns on the site, that can be downloaded and used by masters around the world. Additionally, it has Ira's portfolio and integration with Etsy system.
        .pure-u-1
          Website is a kind of CMS that has almost everything customizable using admin page, beginning with adding new patterns, portfolios, creating standalone pages, categories etc and ending with changing all SEO-related parameters of this website.
        %br
        %br
        .pure-u-1
          %b Role:
          Full-Stack developer.
        %br
          %b Responsibilities:
          Creating back-end, front-end, design, admin page, SEO-optimisation, configuring and optimization of the web, SQL servers, site migration, support current features and monitoring website's state.
        .pure-u-1
          %b Languages:
          Ruby 2.1, JavaScript, CoffeeScript
        .pure-u-1
          %b Frameworks/Libs:
          Padrino, Jquery
        .pure-u-1
          %b Testing Frameworks:
          Rspec 3.4, Capybara, Jasmine
        .pure-u-1
          %b Other technologies:
          SASS, Haml, ActiveRecord, Carrierwave, Poltergeist, Selenium, JSON, Newrelic, Sprockets, Nginx, PostgreSQL, Capistrano
        .pure-u-1
          %b Status:
          online.
          %a{:href => 'https://irarott.com', :targer => '_blank'} https://irarott.com