%section.post
  %header.post-header
    %h2.post-title Landing pages for IxWebhosting.com and HostExcellence.com
    %p.post-meta
      By
      %a.post-author{:href => "http://ecommerce.com"} Ecommerce.com
      using
      %a.post-category{:href => "#"} Ruby
      %a.post-category{:href => "#"} JQuery
      %a.post-category{:href => "#"} CoffeeScript
  .post-description
    .post-images.pure-g
      .pure-u-1.pure-u-md-1-2
        %a{:href => "/"}
          %img.largeImg.pure-img-responsive{:alt => "Landing page of IXwebhosting.com - Hacker Shiield", :src => "/images/portfolio/landing/landing-hacker-shield.png"}/
        #thumbs
          %ul
            %li
              %a{:href => "/images/portfolio/landing/landing-hacker-shield.png", :title => "Hacker Shiield"}
                %img{:src => "/images/portfolio/landing/landing-hacker-shield-thumb.png", alt: "Landing page of IXwebhosting.com - Hacker Shiield"}/
            %li
              %a{:href => "/images/portfolio/landing/landing-popup.png", :title => "Popup on Dashboard"}
                %img{:src => "/images/portfolio/landing/landing-popup-thumb.png", alt: "Landing page of IXwebhosting.com - Popup on Dashboard"}/
            %li
              %a{:href => "/images/portfolio/landing/landing-domainclub.png", :title => "Domain Club"}
                %img{:src => "/images/portfolio/landing/landing-domainclub-thumb.png", alt: "Landing page of IXwebhosting.com - Domain Club"}/
            %li
              %a{:href => "/images/portfolio/landing/landing-fasterserver.png", :title => "Faster Server"}
                %img{:src => "/images/portfolio/landing/landing-fasterserver-thumb.png", alt: "Landing page of IXwebhosting.com - Faster Server"}/
            %li
              %a{:href => "/images/portfolio/landing/landing-thankyou-page.png", :title => "Thank You Page"}
                %img{:src => "/images/portfolio/landing/landing-thankyou-page-thumb.png", alt: "Landing page of IXwebhosting.com - Thank You Page"}/

            %li
              %a{:href => "/images/portfolio/landing/landing-sitebuilder.png", :title => "Site Builder"}
                %img{:src => "/images/portfolio/landing/landing-sitebuilder-thumb.png", alt: "Landing page of IXwebhosting.com - Site Builder"}/



      .pure-u-1.pure-u-md-1-2.post-description
        %p
          IXwebhosting.com and HostExcellence.com are hosting brands that have a lot of products including shared, cloud and VPN hostings, domain and SSL registrations, Site Builers and Design services, etc.
        .pure-u-1
          This project contains pop-ups and bunch of landing pages for current and pre-sales products that give company an opportunity to sale a product using one-click purchase tool or Opt-In for a new project that is not yet released.
        .pure-u-1
          %b Role:
          Front-end developer
        .pure-u-1
          %b Responsibilities:
          Integrating design with current API and Hosting Control panel, adding code needed for One-Click purchase tool.
        .pure-u-1
          %b Languages:
          Ruby 2.1.3, CoffeeScript
        .pure-u-1
          %b Frameworks/Libs:
          Ruby on Rails 4.0, jQuery
        .pure-u-1
          %b Testing Frameworks:
          Rspec 3.2, Capybara, Jasmine
        .pure-u-1
          %b Other technologies:
          SASS, faye, JSON
        .pure-u-1
          %b Status:
          online, used in 2 hosting brands: IXwebhosting and HostExcellence.
          %br
          %a{href: 'https://my.ixwebhosting.com/landing/431611/hacker_shield', target: '_blank'} https://my.ixwebhosting.com/landing
          %br
          %a{href: 'https://my.hostexcellence.com/landing/431611/site_builder', target: '_blank'} https://my.hostexcellence.com/landing