%section.post
  %header.post-header
    %h2.post-title Landing pages for IxWebhosting.com and HostExcellence.com
    %p.post-meta
      By
      %a.post-author{:href => "http://ecommerce.com"} Ecommerce.com
      using
      %a.post-category{:href => "#"} Ruby
      %a.post-category{:href => "#"} JQuery
      %a.post-category{:href => "#"} CoffeeScript
  .post-description
    .post-images.pure-g
      .pure-u-1.pure-u-md-1-2
        %a{:href => "/"}
          %img.largeImg.pure-img-responsive{:alt => "Cloud hosting control panel for CloudByIX.com", :src => "/images/portfolio/landing/hacker-shield.png"}/
        #thumbs
          %ul
            %li
              %a{:href => "/images/portfolio/ira-rott-com/irarott-com.png", :title => "Image 2"}
                %img{:src => "https://js.cx/gallery/img2-thumb.jpg"}/
            %li
              %a{:href => "https://js.cx/gallery/img3-lg.jpg", :title => "Image 3"}
                %img{:src => "https://js.cx/gallery/img3-thumb.jpg"}/
            %li
              %a{:href => "https://js.cx/gallery/img4-lg.jpg", :title => "Image 4"}
                %img{:src => "https://js.cx/gallery/img4-thumb.jpg"}/
            %li
              %a{:href => "https://js.cx/gallery/img5-lg.jpg", :title => "Image 5"}
                %img{:src => "https://js.cx/gallery/img5-thumb.jpg"}/
      .pure-u-1.pure-u-md-1-2.post-description
        %p
          IXwebhosting.com and HostExcellence.com are hosting brands that have a lot of products including shared, cloud and VPN hostings, domain and SSL registrations, Site Builers and Design services, etc.
          This project contains bunch of landing pages for current and pre-sales products that give company an opportunity to sale a product using one-click purchase tool or Opt-In for a new project that is not yet released.
        .pure-u-1
          %b Role:
          Front-end developer
        .pure-u-1
          %b Responsibilities:
          Integrating design with current API and Hosting Control panel, adding code needed for One-Click purchase tool.
        .pure-u-1
          %b Languages:
          Ruby 2.1.3, CoffeeScript
        .pure-u-1
          %b Frameworks/Libs:
          Ruby on Rails 4.0, jQuery
        .pure-u-1
          %b Testing Frameworks:
          Rspec 3.2, Capybara, Jasmine
        .pure-u-1
          %b Other technologies:
          SASS, faye, JSON
        .pure-u-1
          %b Status:
          online, used in 2 hosting brands: IXwebhosting and HostExcellence.
          %br
          %a{href: 'https://my.ixwebhosting.com/landing/431611/hacker_shield', target: '_blank'} https://my.ixwebhosting.com/landing
          %br
          %a{href: 'https://my.hostexcellence.com/landing/431611/site_builder', target: '_blank'} https://my.hostexcellence.com/landing