%section.post
  %header.post-header
    %h2.post-title «FindMeGetMe» mobile application
    %p.post-meta
      By
      %a.post-author{:href => "/"} Roman Rott
      using
      %a.post-category{:href => "#"} JavaScript
      %a.post-category{:href => "#"} React Native
      %a.post-category{:href => "#"} Node.js
      %a.post-category{:href => "#"} iOS
  .post-description
    .post-images.pure-g
      .pure-u-1.pure-u-md-1-2
        %a{:href => "images/portfolio/uisg11/mobile/iOS-app.png", :title => "Mobile React Native app"}
          %img.large-img.pure-img-responsive{:alt => "Mobile React Native app", :src => "images/portfolio/uisg11/mobile/iOS-app.png"}/
        #thumbs.pure-g.is-center
          .pure-u-3
            %a.thumb{:href => "images/portfolio/uisg11/mobile/iOS-app.png", :title => "Mobile React Native app"}
              %img{:src => "images/portfolio/uisg11/mobile/iOS-app-thumb.png", alt: "Mobile React Native app"}/
          .pure-u-3
            %a.thumb{:href => "images/portfolio/uisg11/mobile/iOS-app-list.png", :title => "Mobile React Native app screens"}
              %img{:src => "images/portfolio/uisg11/mobile/iOS-app-list-thumb.png", alt: "Mobile React Native app screens"}/

          .pure-u-3
            %a.thumb{:href => "images/portfolio/uisg11/mobile/react-native-source.png", :title => "Mobile React Native source code"}
              %img{:src => "images/portfolio/uisg11/mobile/react-native-source-thumb.png", alt: "Mobile React Native source code"}/

      .pure-u-1.pure-u-md-1-2.post-description
        %p
          «FindMeGetMe» is a fake Dating website with an API for mobile application created for a CTF(Capture The Flag security game) organised for
          %a{href: "https://11.uisgcon.org/en/about-uisgcon", target: '_blank'}
            UISGCon 11(2015) -
          Ukrainian InfoSec conference held by Non Government Organisation
          %b «Ukrainian Information Security Group»
          .pure-u-1
            This is a mobile iOS and Android multiplatform application that connects to FindMeGetMe.xyz to get information about fake accounts through the API. The application had several functions to hide the server it was connected to obfuscating its JS code.
        %br
        .pure-u-1
          %b Role:
          Full-Stack developer, second Game-Master
        %br
          %b Responsibilities:
          Creating and releasing the app, adding API required for the app.
        .pure-u-1
          %b Languages:
          JavaScript
        .pure-u-1
          %b Frameworks/Libs:
          React Native 0.15
        .pure-u-1
          %b Status:
          «FindMeGetMe» is not in the Market or App Store due to the nature of applications created for CTF games. It as delivered to gamers using vulnerabilities in 3rd party applications.