%section.post
  %header.post-header
    %h2.post-title MyBestDate.xyz - dating website for a CTF game
    %p.post-meta
      By
      %a.post-author{:href => "/"} Roman Rott
      using
      %a.post-category{:href => "#"} Ruby
      %a.post-category{:href => "#"} Rails
      %a.post-category{:href => "#"} CoffeeScript
      %a.post-category{:href => "#"} DigitalOcean
  .post-description
    .post-images.pure-g
      .pure-u-1.pure-u-md-1-2
        %img.largeImg.pure-img-responsive{:alt => "findmegetme", :src => "/images/portfolio/uisg11/mybestdate/my-best-dates-ctf.png"}/
        #thumbs
          %ul
            %li
              %a{:href => "/images/portfolio/ira-rott-com/irarott-com.png", :title => "Image 2"}
                %img{:src => "https://js.cx/gallery/img2-thumb.jpg"}/
            %li
              %a{:href => "https://js.cx/gallery/img3-lg.jpg", :title => "Image 3"}
                %img{:src => "https://js.cx/gallery/img3-thumb.jpg"}/
            %li
              %a{:href => "https://js.cx/gallery/img4-lg.jpg", :title => "Image 4"}
                %img{:src => "https://js.cx/gallery/img4-thumb.jpg"}/
            %li
              %a{:href => "https://js.cx/gallery/img5-lg.jpg", :title => "Image 5"}
                %img{:src => "https://js.cx/gallery/img5-thumb.jpg"}/
      .pure-u-1.pure-u-md-1-2.post-description
        %p
          «MyBestDate» is a fake Dating website created for a CTF(Capture The Flag security game) organised for
          %a{href: "https://11.uisgcon.org/en/about-uisgcon", target: '_blank'}
            UISGCon 11(2015) -
          Ukrainian InfoSec conference held by Non Government Organisation
          %b «Ukrainian Information Security Group»
          .pure-u-1
            This Dating website had no real users or profiles and was created with several pre-defined vulnerabilities that allowed players to get flags and proceed with the next part of the game. It has integrated chat and rating systems to allows gamers to use their skills on a system close to real ones.
        %br
        .pure-u-1
          %b Role:
          Full-Stack developer, second Game-Master
        %br
          %b Responsibilities:
          Creating back-end, front-end; integrating free design, admin page; protecting application from all possible security issues, except pre-defined ones; configuring and optimising web, sql servers; monitoring services and applications during the games.
        .pure-u-1
          %b Languages:
          Ruby 2.2, Javascript
        .pure-u-1
          %b Frameworks/Libs:
          Ruby on Rails 4.2, Jquery, Bootstrap
        .pure-u-1
          %b Other technologies:
          SASS, Haml, PostgreSQL, Faker, CarrierWave, Devise, Administrate
        .pure-u-1
          %b Status:
          «MyBestDate» is offline now due to the nature of applications created for CTF games.