%section.post
  %header.post-header
    %h2.post-title Ordering wizard for Cloud product on CloudByIx.com and IxWebhosting.com
    %p.post-meta
      By
      %a.post-author{:href => "http://ecommerce.com"} Ecommerce.com
      using
      %a.post-category{:href => "#"} Ruby
      %a.post-category{:href => "#"} Sinatra
      %a.post-category{:href => "#"} JQuery
      %a.post-category{:href => "#"} Backbone.js
      %a.post-category{:href => "#"} CoffeeScript
  .post-description
    .post-images.pure-g
      .pure-u-1.pure-u-md-1-2
        %a{:href => "/"}
          %img.largeImg.pure-img-responsive{:alt => "Cloud hosting control panel for CloudByIX.com", :src => "/images/portfolio/ow/ordering-wizard.png"}/
        #thumbs
          %ul
            %li
              %a{:href => "/images/portfolio/ira-rott-com/irarott-com.png", :title => "Image 2"}
                %img{:src => "https://js.cx/gallery/img2-thumb.jpg"}/
            %li
              %a{:href => "https://js.cx/gallery/img3-lg.jpg", :title => "Image 3"}
                %img{:src => "https://js.cx/gallery/img3-thumb.jpg"}/
            %li
              %a{:href => "https://js.cx/gallery/img4-lg.jpg", :title => "Image 4"}
                %img{:src => "https://js.cx/gallery/img4-thumb.jpg"}/
            %li
              %a{:href => "https://js.cx/gallery/img5-lg.jpg", :title => "Image 5"}
                %img{:src => "https://js.cx/gallery/img5-thumb.jpg"}/
      .pure-u-1.pure-u-md-1-2.post-description
        %p
          IXwebhosting.com and CloudByIX.com are hosting services that provide cloud hosting product for their customers. This project is an integrated Single Page Application that allows to pre-configure and bye cloud product without using external payment services.
        %br
        .pure-u-1
          %b Role:
          Full-Stack developer. Member of a team of front and back-end developers, BAs, PMs, admins, etc. This product was developed and released using Agile methodology.
        .pure-u-1
          %b Responsibilities as a part of the team:
          Creating UI that integrates SOAP api interface with control panel and CloudStack that uses JSON. Supporting released features, updating functionality as it was required by MVP and Agile metodologies.
        .pure-u-1
          %b Languages:
          Ruby 2.1.3, CoffeeScript
        .pure-u-1
          %b Frameworks/Libs:
          Sinatra, Backbone.js, jQuery, Ruby on Rails 4.0
        .pure-u-1
          %b Testing Frameworks:
          Rspec 3.2, Capybara, Jasmine, VCR, site_prism.vcr
        .pure-u-1
          %b Other technologies:
          Capistrano, SASS, ROM
        .pure-u-1
          %b Status:
          online and available inside of control panels of 2 Cloud Hosting products: CloudByIX and IXwebhosting.
          %br
          %a{href: 'https://my.cloudbyix.com/login', target: '_blank'} https://my.cloudbyix.com
          %br
          %a{href: 'https://my.ixwebhosting.com/login', target: '_blank'} https://my.ixwebhosting.com