%section.post
  %header.post-header
    %h2.post-title #{project.title}
    = partial 'portfolio/tags', locals: { project: project}
  .post-description
    .post-images.pure-g
      .pure-u-1.pure-u-md-1-2
        = partial 'portfolio/images', locals: { project: project}
      .pure-u-1.pure-u-md-1-2.post-description
        = partial 'portfolio/description', locals: { project: project}