%section.post
  %header.post-header
    %h2.post-title rott.org.ua - current website-portfolio
    %p.post-meta
      By
      %a.post-author{:href => "/"} Roman Rott
      using
      %a.post-category{:href => "#"} Ruby
      %a.post-category{:href => "#"} MiddleMan
      %a.post-category{:href => "#"} CoffeeScript
      %a.post-category{:href => "#"} DigitalOcean
  .post-description
    .post-images.pure-g
      .pure-u-1.pure-u-md-1-2
        %a{:href => "https://rott.org.ua", :target => 'blank'}
          %img.largeImg.pure-img-responsive{:alt => "rott.org.ua website of Roman Rott, rrott", :src => "/images/portfolio/website/rott-org-ua.png"}/
        #thumbs
          %ul
            %li
              %a{:href => "/images/portfolio/ira-rott-com/irarott-com.png", :title => "Image 2"}
                %img{:src => "https://js.cx/gallery/img2-thumb.jpg"}/
            %li
              %a{:href => "https://js.cx/gallery/img3-lg.jpg", :title => "Image 3"}
                %img{:src => "https://js.cx/gallery/img3-thumb.jpg"}/
            %li
              %a{:href => "https://js.cx/gallery/img4-lg.jpg", :title => "Image 4"}
                %img{:src => "https://js.cx/gallery/img4-thumb.jpg"}/
            %li
              %a{:href => "https://js.cx/gallery/img5-lg.jpg", :title => "Image 5"}
                %img{:src => "https://js.cx/gallery/img5-thumb.jpg"}/
      .pure-u-1.pure-u-md-1-2.post-description
        %p
          My own website with blog and portfolio. The Website includes basic information about myself, my projects, my contact information and blog post related to web-development and security researches.
        %br
        .pure-u-1
          %b Role:
          Full-Stack developer.
        %br
          %b Responsibilities:
          Creating back-end, front-end, design, SEO-optimisation, configuring and optimising web server. Writing Blog articles, promotion.
        .pure-u-1
          %b Languages:
          Ruby 2.2, CoffeeScript
        .pure-u-1
          %b Frameworks/Libs:
          MiddleMan - static site generator.
        .pure-u-1
          %b Other technologies:
          SASS, Haml, Nginx, Pure