%section.post
  %header.post-header
    %h2.post-title rott.org.ua - current website-portfolio
    %p.post-meta
      By
      %a.post-author{:href => "/"} Roman Rott
      using
      %a.post-category{:href => "#"} Ruby
      %a.post-category{:href => "#"} MiddleMan
      %a.post-category{:href => "#"} CoffeeScript
      %a.post-category{:href => "#"} DigitalOcean
  .post-description
    .post-images.pure-g
      .pure-u-1.pure-u-md-1-2
        %a{:href => "../images/portfolio/website/rott-org-ua-about.png", :title => "rott.org.ua website of Roman Rott, rrott"}
          %img.large-img.pure-img-responsive{:alt => "rott.org.ua website of Roman Rott, rrott", :src => "../images/portfolio/website/rott-org-ua-about.png"}/
        #thumbs.pure-g.is-center
          .pure-u-3
            %a.thumb{:href => "../images/portfolio/website/rott-org-ua-main.png", :title => "rott.org.ua website of Roman Rott, rrott"}
              %img{:src => "../images/portfolio/website/rott-org-ua-main-thumb.png", alt: "rott.org.ua website of Roman Rott, rrott"}/
          .pure-u-3
            %a.thumb{:href => "../images/portfolio/website/rott-org-ua-about.png", :title => "rott.org.ua website of Roman Rott, rrott"}
              %img{:src => "../images/portfolio/website/rott-org-ua-about-thumb.png", alt: "rott.org.ua website of Roman Rott, rrott"}/
          .pure-u-3
            %a.thumb{:href => "../images/portfolio/website/rott-org-ua-portfolio.png", :title => "rott.org.ua portfolio website of Roman Rott, rrott"}
              %img{:src => "../images/portfolio/website/rott-org-ua-portfolio-thumb.png", alt: "rott.org.ua portfolio website of Roman Rott, rrott"}/

      .pure-u-1.pure-u-md-1-2.post-description
        %p
          My own website with blog and portfolio. The Website includes basic information about myself, my projects, my contact information and blog post related to web-development and security researches.
        %br
        .pure-u-1
          %b Role:
          Full-Stack developer.
        %br
          %b Responsibilities:
          Creating back-end, front-end, design, SEO-optimisation, performance optimisation, configuring and web server.
        .pure-u-1
          %b Languages:
          Ruby 2.2, CoffeeScript
        .pure-u-1
          %b Frameworks/Libs:
          MiddleMan - static site generator.
        .pure-u-1
          %b Other technologies:
          SASS, Haml, Pure, Nginx, HTTP/2, WebP
        .pure-u-1
          %b Status:
          online.
          %br
          Main page:
          %a{href: 'https://rott.org.ua', target: '_blank'} https://rott.org.ua
          %br
          Portfolio:
          %a{href: 'https://rott.org.ua/portfolio/', target: '_blank'} https://rott.org.ua/portfolio
          %br
          Blog:
          %a{href: 'https://rott.org.ua/blog/', target: '_blank'} https://rott.org.ua/blog
          %br
          GitHub:
          %a{href: 'https://github.com/rrott/rott.org.ua', target: '_blank'} https://github.com/rrott/rott.org.ua
