.posts{id: "#{projects.id_name}"}
  %h2.content-subhead
    #{projects.title}
  - projects.projects.each do |project|
    - if project.noindex
      %noindex
        = partial 'portfolio/project', locals: { project: data.projects[project.name]}
    - else
      = partial 'portfolio/project', locals: { project: data.projects[project.name]}

