%section.post
  %header.post-header
    %h2.post-title SecureVPN.xyz - VPN Service for a CTF games.
    %p.post-meta
      By
      %a.post-author{:href => "/"} Roman Rott
      using
      %a.post-category{:href => "#"} Ruby
      %a.post-category{:href => "#"} Rails
      %a.post-category{:href => "#"} DigitalOcean
  .post-description
    .post-images.pure-g
      .pure-u-1.pure-u-md-1-2
        %a{:href => "images/portfolio/hackit/secure-vpn-admin-transactions.png", :title => "VPN admin page"}
          %img.large-img.pure-img-responsive{:alt => "SecureVpn - VPN service for CTF game", :src => "images/portfolio/hackit/secure-vpn-admin-transactions.png"}/
        #thumbs.pure-g.is-center
          .pure-u-3
            %a.thumb{:href => "images/portfolio/hackit/secure-vpn-admin-transactions.png", :title => "VPN admin page"}
              %img{:alt => "SecureVpn, VPN admin page", :src => "images/portfolio/hackit/secure-vpn-admin-transactions-thumb.png"}/
          .pure-u-3
            %a.thumb{:href => "images/portfolio/hackit/secure-vpn-admin-traffic.png", :title => "VPN traffic on admin page"}
              %img{:alt => "SecureVpn - VPN traffic on admin page", :src => "images/portfolio/hackit/secure-vpn-admin-traffic-thumb.png"}/
          .pure-u-3
            %a.thumb{:href => "images/portfolio/hackit/secure-vpn-servers.png", :title => "SecureVpn - List of VPN servers"}
              %img{:alt => "SecureVpn - List of VPN servers", :src => "images/portfolio/hackit/secure-vpn-servers-thumb.png"}/
          .pure-u-3
            %a.thumb{:href => "images/portfolio/hackit/secure-vpn-shlyapa.png", :title => "Payment system for VPN"}
              %img{:alt => "SecureVpn - Payment system for VPN", :src => "images/portfolio/hackit/secure-vpn-shlyapa-thumb.png"}/
          .pure-u-3
            %a.thumb{:href => "images/portfolio/hackit/secure-vpn-payment.png", :title => "Payments for VPN"}
              %img{:alt => "SecureVpn - Payments for VPN", :src => "images/portfolio/hackit/secure-vpn-payment-thumb.png"}/
          .pure-u-3
            %a.thumb{:href => "images/portfolio/hackit/secure-vpn-admin-payment.png", :title => "Payments on VPN admin page"}
              %img{:alt => "SecureVpn - Payments on PN admin page", :src => "images/portfolio/hackit/secure-vpn-admin-payment-thumb.png"}/







      .pure-u-1.pure-u-md-1-2.post-description
        %p
          «SecureVPN» is a service created for the Cybersecurity Olympiad
          %a{href: "http://www.hackit-ukraine.com/#content", target: '_blank'}
            «HackIT-2015»
          with deep integration of «ShlyapaPay» payment service that allowed users to get paid VPN server and connect to any other servers in the network.
          Service was based on an open-source project with hooks for OpenVPN that I had to rewrite for game's needs. The whole infrastructure had 3 VPN servers located in Amsterdam and Singapore, billing system located in Toronto and payment system in Singapore. Back-end was rewritten to add flags and integrate the product with 3rd party payment systems.
        .pure-u-1
          %b Role:
          Full-Stack developer, Game-Master's assistant.
        .pure-u-1
          %b Responsibilities:
          Adding and configuring VPN, SQL and web servers using Chef. Integrating fake payment system with the services, adding vulnerabilities and fixing existent ones.
        .pure-u-1
          %b Languages:
          Ruby 2.1
        .pure-u-1
          %b Frameworks/Libs:
          Ruby on Rails 4.2
        .pure-u-1
          %b Testing Frameworks:
          Rspec, Capybara
        .pure-u-1
          %b Other technologies:
          Chef
        .pure-u-1
          %b Status:
          «SecureVPN» is offline now due to the nature of applications created for CTF games.