.posts{id: "#{projects.id_name}"}
  - if multipart
    %h3.content-subhead
      #{projects.title}
  - projects.projects.each do |project|
    = partial 'portfolio/project', locals: { project: data.projects[project.name], index: false}

