.posts{id: "#{projects.id_name}"}
  - if multipart
    %h3.content-subhead
      #{projects.title}
  - projects.projects.each do |project|
    %section.post{id: project.name}
      - if project.noindex
        %noindex
          = partial 'portfolio/project', locals: { project: data.projects[project.name], index: project.noindex}
      - else
        = partial 'portfolio/project', locals: { project: data.projects[project.name], index: false}

