%section.post
  %header.post-header
    %h2.post-title Shlyapa-Pay.info - paymant system for CTF games
    %p.post-meta
      By
      %a.post-author{:href => "/"} Roman Rott
      using
      %a.post-category{:href => "#"} Ruby
      %a.post-category{:href => "#"} Padrino
      %a.post-category{:href => "#"} JavaScript
      %a.post-category{:href => "#"} DigitalOcean
  .post-description
    .post-images.pure-g
      .pure-u-1.pure-u-md-1-2
        %a{:href => "/images/portfolio/shlyapa-pay-info/shlyapa-pay-new.png", :title => "Fake payment system website"}
          %img.large-img.pure-img-responsive{alt: "shlyapa-pay.info - fake payment system ", :src => "/images/portfolio/shlyapa-pay-info/shlyapa-pay-new.png"}/
        #thumbs
          %ul
            %li
              %a.thumb{:href => "/images/portfolio/shlyapa-pay-info/shlyapa-pay-new.png", :title => "Fake payment system website"}
                %img{:src => "/images/portfolio/shlyapa-pay-info/shlyapa-pay-new-thumb.png", alt: 'ShlyapaPay fake payment system. website'}/
            %li
              %a.thumb{:href => "/images/portfolio/shlyapa-pay-info/shlyapa-pay-website.png", :title => "Fake payment system website"}
                %img{:src => "/images/portfolio/shlyapa-pay-info/shlyapa-pay-website-thumb.png", alt: 'ShlyapaPay fake payment system website'}/
            %li
              %a.thumb{:href => "/images/portfolio/shlyapa-pay-info/shlyapa-pay-payment.png", :title => "Plans on fake payment system"}
                %img{:src => "/images/portfolio/shlyapa-pay-info/shlyapa-pay-payment-thumb.png", alt: 'ShlyapaPay fake payment system. Plans'}/
            %li
              %a.thumb{:href => "/images/portfolio/shlyapa-pay-info/shlyapa-pay-merchant.png", :title => "ActiveMerchant for fake payment system"}
                %img{:src => "/images/portfolio/shlyapa-pay-info/shlyapa-pay-merchant-thumb.png", alt: 'ShlyapaPay fake payment system'}/
            %li
              %a.thumb{:href => "/images/portfolio/shlyapa-pay-info/shlyapa-pay-captcha.png", :title => "Captcha page"}
                %img{:src => "/images/portfolio/shlyapa-pay-info/shlyapa-pay-captcha-thumb.png", alt: 'ShlyapaPay fake payment system. Captcha page'}/
            %li
              %a.thumb{:href => "/images/portfolio/shlyapa-pay-info/shlyapa-pay-money.png", :title => "List of users"}
                %img{:src => "/images/portfolio/shlyapa-pay-info/shlyapa-pay-money-thumb.png", alt: 'ShlyapaPay fake payment system. List of users page'}/

      .pure-u-1.pure-u-md-1-2.post-description
        %p
          «Shlyapa-Pay» is a fake payment system created for a CTF(Capture The Flag security game) held by
          %a{href: "https://berezhasecurity.com/", target: '_blank'}
            «Berezha Security».
          .pure-u-1
            This payment system has its own website, blog, integration with ActiveMerchant as a fake payment processing. It behaves almost the same way as a common payment systems like PayPal or WebMoney allowing users to send and receive costs to/from each other. The project has its own shopping cart and kind of social network created with several pre-defined vulnerabilities in mind.
          .pure-u-1
            «Shlyapa-Pay» was used in game held during International forum
            %a{href: "http://cybersecurity.pp.ua/en/Home", target: '_blank'}
              «Cybersecurity: Ukraine and the world»
            and then, after fixing all the vulnerabilities and adding new ones, was a part of a game at the Cybersecurity Olympiad
            %a{href: "http://www.hackit-ukraine.com/#content", target: '_blank'}
              «HackIT-2015»
        .pure-u-1
          %b Role:
          Full-Stack developer, Game-Master's assistant during 2 CTF games.
        .pure-u-1
          %b Responsibilities:
          Creating back-end, front-end, integrating free design, admin page, protecting the application from all possible security issues except pre-defined ones. Creating ActiveMerchant payment processor that can be integrated into a Shopping Cart. Was configuring and optimising web, SQL servers, monitoring services and applications during the games.
        .pure-u-1
          %b Languages:
          Ruby 2.2, Javascript
        .pure-u-1
          %b Frameworks/Libs:
          Padrino, Jquery, Bootstrap
        .pure-u-1
          %b Other technologies:
          SASS, Haml, ActiveRecord, ActiveMerchant, Devise, Upmin, Faker
        .pure-u-1
          %b Status:
          «Shlyapa-Pay» is offline now due to the nature of applications created for CTF games.


