%section.post
  %header.post-header
    %h2.post-title SmartVPN.xyz - VPN Service for a CTF games.
    %p.post-meta
      By
      %a.post-author{:href => "/"} Roman Rott
      using
      %a.post-category{:href => "#"} Ruby
      %a.post-category{:href => "#"} Rails
      %a.post-category{:href => "#"} DigitalOcean
  .post-description
    .post-images.pure-g
      .pure-u-1.pure-u-md-1-2
        %a{:href => "/#"}
          %img.largeImg.pure-img-responsive{:alt => "smartvpn.xyz", :src => "/images/portfolio/vpn/1.png"}/
        #thumbs
          %ul
            %li
              %a{:href => "/images/portfolio/ira-rott-com/irarott-com.png", :title => "Image 2"}
                %img{:src => "https://js.cx/gallery/img2-thumb.jpg"}/
            %li
              %a{:href => "https://js.cx/gallery/img3-lg.jpg", :title => "Image 3"}
                %img{:src => "https://js.cx/gallery/img3-thumb.jpg"}/
            %li
              %a{:href => "https://js.cx/gallery/img4-lg.jpg", :title => "Image 4"}
                %img{:src => "https://js.cx/gallery/img4-thumb.jpg"}/
            %li
              %a{:href => "https://js.cx/gallery/img5-lg.jpg", :title => "Image 5"}
                %img{:src => "https://js.cx/gallery/img5-thumb.jpg"}/
      .pure-u-1.pure-u-md-1-2.post-description
        %p
          «SmartVPN» is a service created for the Cybersecurity Olympiad
          %a{href: "http://www.hackit-ukraine.com/#content", target: '_blank'}
            «HackIT-2015»
          with deep integration of «ShlyapaPay» payment service that allowed users to get paid VPN server and connect to any other servers in the network.
          Service was based on an open-source project with hooks for OpenVPN that I had to rewrite for game's needs. The whole infrastructure had 3 VPN servers located in Amsterdam, Toronto and Singapore, billing system located in New-York and payment system in Frankfurt. Back-end was rewritten to add flags and integrate the product with 3rd party payment systems.
        .pure-u-1
          %b Role:
          Full-Stack developer, Game-Master's assistant.
        .pure-u-1
          %b Responsibilities:
          Adding and configuring VPN, SQL and web servers using Chef. Integrating fake payment system with the services, adding vulnerabilities and fixing existent ones.
        .pure-u-1
          %b Languages:
          Ruby 2.1
        .pure-u-1
          %b Frameworks/Libs:
          Ruby on Rails 4.2
        .pure-u-1
          %b Testing Frameworks:
          Rspec, Capybara
        .pure-u-1
          %b Other technologies:
          Chef
        .pure-u-1
          %b Status:
          «SmartVPN» is offline now due to the nature of applications created for CTF games.