!!! 5

%html
  %head
    %title=data.site.not_found.title
    %link{ href: "/stylesheets/index.css", rel: 'stylesheet', property: 'stylesheet' }
    = partial 'partials/meta'

    %meta{ name: 'keywords',    content: data.site.not_found.keywords }
    %meta{ name: 'description', content: data.site.not_found.description }
  %body
    %main.center
      %header#error
        %h1.error-code 404 Error Page
        %h3.error-message
          The page you are looking for was not found.
      %nav
        %a{ href: "/", title: 'Home of rrott.com' } Home
        |
        %a{ href: "/sitemap/", title: 'Sitemap of rrott.com' } Site Map
      %section.logo
        = partial('images/rrott-ruby-logo.svg').to_s
      %hr
      = partial 'partials/contacts'

    %footer.footer
      = partial 'partials/links'
      %a{ href: "/sitemap/", title: 'Sitemap of rrott.com' }
        SiteMap
    %link{ href: "/stylesheets/grids.css", rel: 'stylesheet', property: 'stylesheet' }
    %link{ href: "/stylesheets/application.css", rel: 'stylesheet', property: 'stylesheet' }
