%a.social{href: 'https://www.linkedin.com/in/rrott', target: '_blank', title: "Roman Rott's linkedin", nofollow: true}
  %em.icon-linkedin
%a.social{href: 'https://github.com/rrott', target: '_blank', title: "rrott GitHub account", nofollow: true}
  %em.icon-github-circled
%a.social{href: 'https://twitter.com/roman_rott', target: '_blank', title: "Twitter acc of Roman Rott", nofollow: true}
  %em.icon-twitter.size3
-# %em.fa.fa-2x.fa-stack-overflow
%a.social{href: "skype:roman.rott?chat", title: "Roman Rott's Skype: roman.rott"}
  %em.icon-skype.skype
-# %em.fa.fa-2x.fa-slack
%a.social{href: "mailto:roman.rott@gmail.com", title: "Roman Rott's email"}
  %em.icon-mail-alt
-# %a.social{href: vcard_link, title: "Roman Rott's VCard"}
-#   %em.icon-mail-alt VCard
