%a{href: '//www.linkedin.com/in/rrott', target: '_blank', title: "Roman Rott's linkedin"}
  %i.icon-linkedin
%a{href: '//github.com/rrott', target: '_blank', title: "GitHub acc of Roman Rott"}
  %i.icon-github-circled
%a{href: '//twitter.com/roman_rott', target: '_blank', title: "Twitter acc of Roman Rott"}
  %i.icon-twitter.size3
-# %i.fa.fa-2x.fa-stack-overflow
%a{href: "skype:roman.rott?chat", title: "Roman Rott's Skype: roman.rott"}
  %i.icon-skype.skype
-# %i.fa.fa-2x.fa-slack
%a{href: "mailto:roman.rott@gmail.com", title: "Roman Rott's email"}
  %i.icon-mail-alt
