%a{href: 'https://www.linkedin.com/in/rrott', target: '_blank'}
  %i.fa.fa-2x.fa-linkedin
%a{href: 'https://github.com/rrott', target: '_blank'}
  %i.fa.fa-2x.fa-github
%a{href: 'https://twitter.com/roman_rott', target: '_blank'}
  %i.fa.fa-3x.fa-twitter
-# %i.fa.fa-2x.fa-stack-overflow
%a{href: "skype:roman.rott?chat"}
  %i.fa.fa-2x.fa-skype.skype
-# %i.fa.fa-2x.fa-slack
%a{href: "mailto:roman.rott@gmail.com"}
  %i.fa.fa-2x.fa-envelope
