%meta(http-equiv="content-type" content="text/html; charset=utf-8")
%meta(http-equiv="X-UA-Compatible" content="IE=edge")
%meta(http-equiv="x-dns-prefetch-control" content="on")
%meta{name: "viewport", content: "initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width"}
%meta{content: 'True', name: 'HandheldFriendly'}
%meta{content: '320',  name: 'MobileOptimized'}

%link{rel: "preconnect",  href: "//ssl.google-analytics.com"}
%link{rel: "dns-prefetch",  href: "//ssl.google-analytics.com"}

%link{rel: "subresource", href: "//rrott.com/fonts/rrott-webfont.woff"}

-# favicons
%link{rel:"icon", type:"image/png", href: "/favicon-32x32.png", sizes: "32x32"}
%link{rel:"icon", type:"image/png", href: "/favicon-194x194.png", sizes: "194x194"}
%link{rel:"icon", type:"image/png", href: "/favicon-96x96.png", sizes: "96x96"}
%link{rel:"icon", type:"image/png", href: "/android-chrome-192x192.png", sizes: "192x192"}
%link{rel:"icon", type:"image/png", href: "/favicon-16x16.png", sizes: "16x16"}
%link{rel:"manifest", href: "/manifest.json"}
%link{rel:"mask-icon", href: "/safari-pinned-tab.svg", color: "#e0115f"}
%meta{name: "apple-mobile-web-app-title", content: "rrott.com"}
%meta{name: "application-name", content: "rrott.com"}
%meta{name: "msapplication-TileColor", content: "#1f8dd6"}
%meta{name: "msapplication-TileImage", content: "/mstile-144x144.png"}
%meta{name: "msapplication-square150x150logo", content: "/mstile-150x150.png"}
%meta{name: "theme-color", content: "#ffffff"}

// Twitter
%meta{name: 'twitter:card',         content: 'summary'}
%meta{name: "twitter:site",         content: data.site.twitter_handle}
%meta{name: 'twitter:title',        content: data.site.title}
%meta{name: 'twitter:description',  content: data.site.description}
%meta{name: 'twitter:creator',      content: data.site.twitter_handle}
%meta{name: 'twitter:image',        content: '/rrott-ruby-logo.png'}
// Open Graph General (Facebook & Pinterest)
%meta{property: 'og:url',           content: current_page_url}
%meta{property: 'og:title',         content: data.site.title}
%meta{property: 'og:description',   content: data.site.description}
%meta{property: 'og:site_name',     content: data.site.title}
%meta{property: 'og:image',         content: data.site.image}
%meta{property: 'og:app_id',        content: '952268334783316'}
%meta{property: 'og:type',          content: 'website'}
%meta{property: "fb:admins",        content: "1440136372"}
// Google Plus
%meta{itemprop: 'name',             content: data.site.title}
%meta{itemprop: 'description',      content: data.site.description}
%meta{itemprop: 'image',            content: data.site.image}

%meta{content:'Roman Rott', name:'author'}
%link{href: 'https://plus.google.com/u/0/+RomanRott', rel: 'publisher'}

%meta{name: 'robots', content:'index,follow'}
%link{type: "text/plain",   rel:"author", href: "/humans.txt"}
