%body
  .splash-container
    .splash
      %h1.splash-head Roman Rott
  .content-wrapper
    .content.content-head.is-center
      %a{href: 'https://www.linkedin.com/in/rrott', target: '_blank'}
        %i.fa.fa-3x.fa-linkedin
      %a{href: 'https://github.com/rrott', target: '_blank'}
        %i.fa.fa-3x.fa-github
      %a{href: 'https://bitbucket.org/rrott', target: '_blank'}
        %i.fa.fa-3x.fa-bitbucket
      -# %i.fa.fa-3x.fa-stack-overflow
      %a{href: "skype:roman.rott?chat"}
        %i.fa.fa-3x.fa-skype.skype
      -# %i.fa.fa-3x.fa-slack
      %a{href: "mailto:roman.rott@gmail.com"}
        %i.fa.fa-3x.fa-envelope
      .pure-g
        .l-box.pure-u-1.pure-u-md-1-2.pure-u-lg-1-4
          %h3.content-subhead
            %i.fa.fa-rocket
            Resume
          %p
            Info
        .l-box.pure-u-1.pure-u-md-1-2.pure-u-lg-1-4
          %h3.content-subhead
            %i.fa.fa-mobile
            Examples
          %p
            info about examples
        .l-box.pure-u-1.pure-u-md-1-2.pure-u-lg-1-4
          %h3.content-subhead
            %i.fa.fa-th-large
            About myself
          %p
            info aboutmyself
        .l-box.pure-u-1.pure-u-md-1-2.pure-u-lg-1-4
          %h3.content-subhead
            %i.fa.fa-check-square-o
            Interests
          %p
            info
    .ribbon.l-box-lrg.pure-g
      .l-box-lrg.is-center.pure-u-1.pure-u-md-1-2.pure-u-lg-2-5
        %img.pure-img-responsive{:alt => "File Icons", :src => "img/common/file-icons.png", :width => "300"}/
      .pure-u-1.pure-u-md-1-2.pure-u-lg-3-5
        %h2.content-head.content-head-ribbon github
        %p
          %script{"data-modules" => "base,details,stats,repos,eventsStatis,orgs", "data-name" => "rrott", "data-reposnum" => "3", :src => "http://octocard.in/o.js"} :cdata
    .content
      %h2.content-head.is-center Dolore magna aliqua. Uis aute irure.
      .pure-g
        .l-box-lrg.pure-u-1.pure-u-md-2-5

        .l-box-lrg.pure-u-1.pure-u-md-3-5
          %h4 Contact Us
          %p
            links again
          %h4 More Information
          %p
            blog links
    .footer.l-box.is-center
      links again