%body
  #layout.pure-g
    .sidebar.pure-u-1.pure-u-md-1-4
      .header.portfolio-left-part
        -# %img.pure-img-responsive.logo{alt: "rrott's Ukrainian ruby logo", src: "/images/rrott-ruby-logo.png",onmouseover: "this.src='/images/rrott-ruby-logo-ukraine.png'", onmouseout: "this.src='/images/rrott-ruby-logo.png'"}
        -# %br
        -# %br
        %h1.brand-title Portfolio page
        %h2.brand-tagline Projects that I've been worked on during 2015-2016 years
        %nav.nav
          %ul.nav-list
            %li.nav-item
              %a.pure-button{:href => "https://rott.org.ua"} Home
            %li.nav-item
              %a.pure-button{:href => "https://rott.org.ua/blog"} Blog
        .portfolio-contacts
          %br
          = partial 'links'
          %br
          Available for hire
    .content.pure-u-1.pure-u-md-3-4
      %div
        / A wrapper for all the blog posts
        .posts
          %h2.content-subhead Full-Stack projects

          %section.post
            %header.post-header
              %h2.post-title IraRott.com - online store of knit and crochet patterns
              %p.post-meta
                By
                %a.post-author{:href => "/"} Roman Rott
                using
                %a.post-category{:href => "#"} Ruby
                %a.post-category{:href => "#"} Padrino
                %a.post-category{:href => "#"} Jquery
                %a.post-category{:href => "#"} CoffeeScript
                %a.post-category{:href => "#"} DigitalOcean
            .post-description
              .post-images.pure-g
                .pure-u-1.pure-u-md-1-2
                  %a{:href => "https://irarott.com"}
                    %img.pure-img-responsive{:alt => "IraRott.com - online store of knit and crochet patterns", :src => "/images/portfolio/ira-rott-com/irarott-com.png"}/

                .pure-u-1.pure-u-md-1-2.post-description
                  .pure-u-1
                    %b About:
                    Ira Rott is a Knit & Crochet Designer living in Southern Ontario, Canada.
                    This website is her online shopping cart for seling digital matherial(pdf files with patterns).
                  .pure-u-1
                    There are houndreeds paid and dozens free pdf patterns on the site, that can be downloaded and used by masters arount the world. Additionally it has Ira's portfolio and integration with Etsy system.
                  .pure-u-1
                    Websinte is a kind of CMS that has almost everything costumisable using admin page starting from adding new patterns, portfolios, creating standalone pages, categories etc and finishing changing all SEO-related parameters of this website.
                  %br
                  %br
                  .pure-u-1
                    %b Role:
                    Full-Stack developer.
                  %br
                    %b Responsebilityes:
                    Creating back-end, front-end, design, admin page, SEO-optimisation, configuring and optimysing web, sql servers, site migration, support current featrures and monitoring website's state.
                  .pure-u-1
                    %b Languages:
                    Ruby, Javascript, CoffeeScript
                  .pure-u-1
                    %b Frameworks/Libs:
                    Padrino, Jquery
                  .pure-u-1
                    %b Testing Frameworks:
                    Rspec, Capybara, Jasmine
                  .pure-u-1
                    %b Other technologies:
                    SASS, Haml, ActiveRecord, Carrierwave, Poltergeist, Selenium, JSON, Newrelic, Sprockets, Nginx, PostgreSQL, Capistranio

          %section.post
            %header.post-header
              %h2.post-title Cloud Hosting control panel
              %p.post-meta
                By
                %a.post-author{:href => "http://ecommerce.com"} Ecommerce.com
                using
                %a.post-category{:href => "#"} Ruby
                %a.post-category{:href => "#"} Sinatra
                %a.post-category{:href => "#"} RoR
                %a.post-category{:href => "#"} JQuery
                %a.post-category{:href => "#"} Backbone.js
                %a.post-category{:href => "#"} Marionette.js
                %a.post-category{:href => "#"} CoffeeScript

            .post-description
              .post-images.pure-g
                .pure-u-1.pure-u-md-1-2
                  %a{:href => "/"}
                    %img.pure-img-responsive{:alt => "Cloud hosting control panel IXWebhosting.com", :src => "/images/portfolio/cloudui/cloud-ui.png"}/

                .pure-u-1.pure-u-md-1-2.post-description
                  .pure-u-1
                    %b About:
                    Cloud by IX is a Cloud Hosting service created for system and database administrators, developers, resellers, hosting professionals and business infrastructure. An entire business can literally be operated within a single Cloud by IX product. Service is integrated into IXWebhosting.com and CloudByIX.com hosting brands.
                    Current project is an Single Page Application that integrates CloudStacks into current manage panel of Ecommerce.com's brands.
                  %br
                  %br
                  .pure-u-1
                    %b Role:
                    Full-Stack developer. Member of a team of front and back-end developers, BAs, PMs, admins, etc. This product was developed and released using Agile methodology.
                  .pure-u-1
                    %b Responsebilityes as a part of the team:
                    Creating UI that integrates current control panel with CloudStack. Design of UI components. Adapting SOAP api interface to JSON and vise versa. Supporting released features, updating functionaliry as it was required by MVP and Agile methodologyes.
                  .pure-u-1
                    %b Languages:
                    Ruby, CoffeeScript
                  .pure-u-1
                    %b Frameworks/Libs:
                    Sinatra, Backbone.js, Marionette.js, jQuery, Ruby on Rails
                  .pure-u-1
                    %b Testing Frameworks:
                    Rspec, Capybara, Jasmine, VCR, site_prism.vcr
                  .pure-u-1
                    %b Other technologies:
                    Capistrano, SASS, ROM, Guard, Node, faye
          %section.post
            %header.post-header
              %h2.post-title rott.org.ua - current website-portfolio
              %p.post-meta
                By
                %a.post-author{:href => "/"} Roman Rott
                using
                %a.post-category{:href => "#"} Ruby
                %a.post-category{:href => "#"} MiddleMan
                %a.post-category{:href => "#"} CoffeeScript
                %a.post-category{:href => "#"} DigitalOcean
            .post-description
              .post-images.pure-g
                .pure-u-1.pure-u-md-1-2
                  %a{:href => "https://rott.org.ua", :target => 'blank'}
                    %img.pure-img-responsive{:alt => "rott.org.ua website of Roman Rott, rrott", :src => "/images/portfolio/website/rott-org-ua.png"}/

                .pure-u-1.pure-u-md-1-2.post-description
                  %p
                    My own website with blog and portfolio. Wibsite includes basic information about myself, my projects, my contact information and blog post related to web-development and security researches.
                  %br
                  .pure-u-1
                    %b Role:
                    Full-Stack developer.
                  %br
                    %b Responsebilityes:
                    Creating back-end, front-end, design, SEO-optimisation, configuring and optimysing web server. Writting Blog articles, promotion.
                  .pure-u-1
                    %b Languages:
                    Ruby, CoffeeScript
                  .pure-u-1
                    %b Frameworks/Libs:
                    MiddleMan - static site generator.
                  .pure-u-1
                    %b Other technologies:
                    SASS, Haml, Nginx, Pure
          %section.post
            %header.post-header
              %h2.post-title Shlyapa-Pay.info - paymant system for CTF games
              %p.post-meta
                By
                %a.post-author{:href => "/"} Roman Rott
                using
                %a.post-category{:href => "#"} Ruby
                %a.post-category{:href => "#"} Padrino
                %a.post-category{:href => "#"} JavaScript
                %a.post-category{:href => "#"} DigitalOcean
            .post-description
              .post-images.pure-g
                .pure-u-1.pure-u-md-1-2
                  %a{:href => "/#"}
                    %img.pure-img-responsive{:alt => "shlyapa-pay.info", :src => "/images/portfolio/shlyapa-pay-info/1.png"}/
                .pure-u-1.pure-u-md-1-2.post-description
                  %p
                    «Shlyapa-Pay» is a fake payment system created for a CTF(Capture The Flag security game) held by
                    %a{href: "https://berezhasecurity.com/", target: '_blank'}
                      «Berezha Security».
                    .pure-u-1
                      This payment system has its own website, blog, integration with ActiveMerchant as a fake payment processing. It behaves almost the same way as common payment systems like PayPal or WebMoney allowing users to send and receive costs to each others. The project has its own shopping cart and kind of social network created with several pre-defined vulnerabilityes in mind.
                    .pure-u-1
                      «Shlyapa-Pay» is offline now due to the nature of applications created for CTF games. It was used in game held during International forum
                      %a{href: "http://cybersecurity.pp.ua/en/Home", target: '_blank'}
                        «Cybersecurity: Ukraine and the world»
                      and then(after fixing all the vulnerabiliryes and adding new ones) was a part of game on the Cybersecurity Olympiad
                      %a{href: "http://www.hackit-ukraine.com/#content", target: '_blank'}
                        «HackIT-2015»
                  %br
                  .pure-u-1
                    %b Role:
                    Full-Stack developer, Game-Master's assistant during 2 CTF games.
                  %br
                    %b Responsebilityes:
                    Creating back-end, front-end, integrating free design, admin page, protecting application from all possible security issues except pre-defined ones. Creating ActiveMerchant payment processor that can be integrated into a Shopping Cart.
                    Was configuring and optimysing web, sql servers, monitoring services and applications during the games.
                  .pure-u-1
                    %b Languages:
                    Ruby, Javascript
                  .pure-u-1
                    %b Frameworks/Libs:
                    Padrino, Jquery, Bootstrap
                  .pure-u-1
                    %b Other technologies:
                    SASS, Haml, ActiveRecord, ActiveMerchant, Devise, Upmin, Faker
          %section.post
            %header.post-header
              %h2.post-title MyBestDate.xyz - dating website for a CTF game
              %p.post-meta
                By
                %a.post-author{:href => "/"} Roman Rott
                using
                %a.post-category{:href => "#"} Ruby
                %a.post-category{:href => "#"} Rails
                %a.post-category{:href => "#"} CoffeeScript
                %a.post-category{:href => "#"} DigitalOcean
            .post-description
              .post-images.pure-g
                .pure-u-1.pure-u-md-1-2
                  %img.pure-img-responsive{:alt => "findmegetme", :src => "/images/portfolio/uisg11/mybestdate/my-best-dates-ctf.png"}/
                .pure-u-1.pure-u-md-1-2.post-description
                  %p
                    «MyBestDate» is a fake Dating website created for a CTF(Capture The Flag security game) organised for
                    %a{href: "https://11.uisgcon.org/en/about-uisgcon", target: '_blank'}
                      UISGCon 11(2015) -
                    Ukrainian InfoSec conference held by Non Government Organization
                    %b «Ukrainian Information Security Group»
                    .pure-u-1
                      This Dating website had no real users or profiles and was created with several pre-defined vulnerabilityes that allowed players to get flags and proceed with the next part of the game. It has integrated chat and rating systems to allows gamers to use their skills on a system close to real ones.
                    .pure-u-1
                      «MyBestDate» is offline now due to the nature of applications created for CTF games.
                  %br
                  .pure-u-1
                    %b Role:
                    Full-Stack developer, second Game-Master
                  %br
                    %b Responsebilityes:
                    Creating back-end, front-end, integrating free design, admin page, protecting application from all possible security issues except pre-defined ones, configuring and optimysing web, sql servers, monitoring services and applications during the games.
                  .pure-u-1
                    %b Languages:
                    Ruby, Javascript
                  .pure-u-1
                    %b Frameworks/Libs:
                    Ruby on Rails, Jquery, Bootstrap
                  .pure-u-1
                    %b Other technologies:
                    SASS, Haml, PostgreSQL, Faker, CarrierWave, Devise, Administrate
        .posts
          %h2.content-subhead Front-end projects
          %section.post
            %header.post-header
              %h2.post-title Ordering wizard for Cloud product on CloudByIx.com and IxWebhosting.com
              %p.post-meta
                By
                %a.post-author{:href => "http://ecommerce.com"} Ecommerce.com
                using
                %a.post-category{:href => "#"} Ruby
                %a.post-category{:href => "#"} Sinatra
                %a.post-category{:href => "#"} JQuery
                %a.post-category{:href => "#"} Backbone.js
                %a.post-category{:href => "#"} CoffeeScript
            .post-description
              .post-images.pure-g
                .pure-u-1.pure-u-md-1-2
                  %a{:href => "/"}
                    %img.pure-img-responsive{:alt => "Cloud hosting control panel for CloudByIX.com", :src => "/images/portfolio/ow/ordering-wizard.png"}/
                .pure-u-1.pure-u-md-1-2.post-description
                  %p
                    IXwebhosting.com and CloudByIX.com are hosting services that provides cloud hosting product to their customers. This project is integrated Single Page Application that allows to pre-configure and bye cloud product without using external payment services.
                  %br
                  .pure-u-1
                    %b Role:
                    Full-Stack developer. Member of a team of front and back-end developers, BAs, PMs, admins, etc. This product was developed and released using Agile methodology.
                  .pure-u-1
                    %b Responsebilityes as a part of the team:
                    Creating UI that integrates SOAP api interface with contol panel and CloudStack that uses JSON. Supporting released features, updating functionaliry as it was required by MVP and Agile methodologyes.
                  .pure-u-1
                    %b Languages:
                    Ruby, CoffeeScript
                  .pure-u-1
                    %b Frameworks/Libs:
                    Sinatra, Backbone.js, jQuery, Ruby on Rails
                  .pure-u-1
                    %b Testing Frameworks:
                    Rspec, Capybara, Jasmine, VCR, site_prism.vcr
                  .pure-u-1
                    %b Other technologies:
                    Capistrano, SASS, ROM

          %section.post
            %header.post-header
              %h2.post-title Landing pages for IxWebhosting.com and HostExcellence.com
              %p.post-meta
                By
                %a.post-author{:href => "http://ecommerce.com"} Ecommerce.com
                using
                %a.post-category{:href => "#"} Ruby
                %a.post-category{:href => "#"} JQuery
                %a.post-category{:href => "#"} CoffeeScript
            .post-description
              .post-images.pure-g
                .pure-u-1.pure-u-md-1-2
                  %a{:href => "/"}
                    %img.pure-img-responsive{:alt => "Cloud hosting control panel for CloudByIX.com", :src => "/images/portfolio/landing/hacker-shield.png"}/

                .pure-u-1.pure-u-md-1-2.post-description
                  %p
                    IXwebhosting.com and HostExcellence.com are hosting brands that have a lot of products including shared, cloud and VPN hostings, domain and SSL registrations, Site Builers and Design services, etc.
                    This project is a bounch of landing pages for current and pre-sales products that allowsthe company to sale a product using one-click purchase tool or Opt-In for a new project that is not yet released.
                  .pure-u-1
                    %b Role:
                    Front-end developer
                  .pure-u-1
                    %b Responsebilityes:
                    Integrating design with current API and Hosting Control panel, adding code needed for One-Click purchase tool.
                  .pure-u-1
                    %b Languages:
                    Ruby, CoffeeScript
                  .pure-u-1
                    %b Frameworks/Libs:
                    Ruby on Rails, jQuery
                  .pure-u-1
                    %b Testing Frameworks:
                    Rspec, Capybara, Jasmine
                  .pure-u-1
                    %b Other technologies:
                    SASS, faye, JSON


        .posts
          %h2.content-subhead Back-end projects
          %section.post
            %header.post-header
              %h2.post-title SmartVPN.xyz - VPN Service for a CTF games.
              %p.post-meta
                By
                %a.post-author{:href => "/"} Roman Rott
                using
                %a.post-category{:href => "#"} Ruby
                %a.post-category{:href => "#"} Rails
                %a.post-category{:href => "#"} DigitalOcean
            .post-description
              .post-images.pure-g
                .pure-u-1.pure-u-md-1-2
                  %a{:href => "/#"}
                    %img.pure-img-responsive{:alt => "smartvpn.xyz", :src => "/images/portfolio/vpn/1.png"}/
                .pure-u-1.pure-u-md-1-2.post-description
                  %p
                    «SmartVPN» is a service created for the Cybersecurity Olympiad
                    %a{href: "http://www.hackit-ukraine.com/#content", target: '_blank'}
                      «HackIT-2015»
                    with deep integration of «ShlyapaPay» payment service that allowed users to get paid VPN server and connect to any other servers in the network.
                    Service was based on an open-source project with hooks for OpenVPN that I had to rewrite for game's needs. The whole infrastructure had 3 VPN servers located in Amsterdam, Toronto and Singapore, billing system located in New-York and payment system in Frankfurt. Back-end was rewritten to add flags and integrate the product with 3rd party payment systems.
                  .pure-u-1
                    «SmartVPN» is offline now due to the nature of applications created for CTF games.
                  .pure-u-1
                    %b Role:
                    Full-Stack developer, Game-Master's assistant.
                  .pure-u-1
                    %b Responsebilityes:
                    Adding and configuring VPN, SQL and web servers using Chef. Integrating fake payment system with the services, adding vulnerabilityes and fixing existent ones.
                  .pure-u-1
                    %b Languages:
                    Ruby
                  .pure-u-1
                    %b Frameworks/Libs:
                    Ruby on Rails
                  .pure-u-1
                    %b Testing Frameworks:
                    Rspec, Capybara
                  .pure-u-1
                    %b Other technologies:
                    Chef
          %section.post
            %header.post-header
              %h2.post-title FindMeGetMe.xyz - fake dating service.
              %p.post-meta
                By
                %a.post-author{:href => "/"} Roman Rott
                using
                %a.post-category{:href => "#"} Ruby
                %a.post-category{:href => "#"} Sinatra
                %a.post-category{:href => "#"} DigitalOcean
            .post-description
              .post-images.pure-g
                .pure-u-1.pure-u-md-1-2
                  %img.pure-img-responsive{:alt => "findmegetme", :src => "/images/portfolio/uisg11/findmegetme/find-me-get-me-ctf.png"}/
                .pure-u-1.pure-u-md-1-2.post-description
                  %p
                    «FindMeGetMe» is a fake Dating website with an api for mobile application created for a CTF(Capture The Flag security game) organised for
                    %a{href: "https://11.uisgcon.org/en/about-uisgcon", target: '_blank'}
                      UISGCon 11(2015) -
                    Ukrainian InfoSec conference held by Non Government Organization
                    %b «Ukrainian Information Security Group»
                    .pure-u-1
                      This Dating website had no real users or profiles and was created with a pre-defined vulnerabilityes related to Redis. I used a Free design and added vulnerable Rack application that gets photos from Redis service using Sockets technology.
                    .pure-u-1
                      «FindMeGetMe» is offline now due to the nature of applications created for CTF games.
                  %br
                  .pure-u-1
                    %b Role:
                    Full-Stack developer, second Game-Master
                  %br
                    %b Responsebilityes:
                    Creating back-end, integrating free design, configuring and optimysing web, redis servers, monitoring services and the application during the games. Creating api for an mobile app.
                  .pure-u-1
                    %b Languages:
                    Ruby
                  .pure-u-1
                    %b Frameworks/Libs:
                    Sinatra
                  .pure-u-1
                    %b Other technologies:
                    Redis

        .posts
          %h2.content-subhead Mobile applications

          %section.post
            %header.post-header
              %h2.post-title «FindMeGetMe» mobile application
              %p.post-meta
                By
                %a.post-author{:href => "/"} Roman Rott
                using
                %a.post-category{:href => "#"} JavaScript
                %a.post-category{:href => "#"} React
                %a.post-category{:href => "#"} React Native
                %a.post-category{:href => "#"} iOS
            .post-description
              .post-images.pure-g
                .pure-u-1.pure-u-md-1-2
                  %img.pure-img-responsive{:alt => "findmegetme", :src => "/images/portfolio/uisg11/mobile/iOS-app.png"}/
                .pure-u-1.pure-u-md-1-2.post-description
                  %p
                    «FindMeGetMe» is a fake Dating website with an api for mobile application created for a CTF(Capture The Flag security game) organised for
                    %a{href: "https://11.uisgcon.org/en/about-uisgcon", target: '_blank'}
                      UISGCon 11(2015) -
                    Ukrainian InfoSec conference held by Non Government Organization
                    %b «Ukrainian Information Security Group»
                    .pure-u-1
                      This is a mobile iOS and Android multiplatform application that connects to FindMeGetMe.xyz to get information about fake accounts from the api. Application had several functions to hide the server it was connected to obfurscating its JS code.
                    .pure-u-1
                      «FindMeGetMe» is not in the Market or App Store due to the nature of applications created for CTF games. It as delivered to gamers using vulnerabilityes in 3rd party applications.
                  %br
                  .pure-u-1
                    %b Role:
                    Full-Stack developer, second Game-Master
                  %br
                    %b Responsebilityes:
                    Creating and releasing app, adding API required for the app.
                  .pure-u-1
                    %b Languages:
                    JavaScript
                  .pure-u-1
                    %b Frameworks/Libs:
                    React Native

        .posts
          %h2.content-subhead Open Source plugins and libs
          %section.post
            %header.post-header
              %h2.post-title grunt-coffee-chain

            .post-description
              .post-images.pure-g
                .pure-u-1.pure-u-md-1-2
                  %a{:href => "http://coffee.rott.org.ua/"}
                    %img.pure-img-responsive{:alt => "findmegetme", :src => "/images/portfolio/grunt-coffee-chain/1.png"}/
                  .post-image-meta
                    %br
                    * Project's homepage was generated by GitHub Pages
                .pure-u-1.pure-u-md-1-2.post-description
                  %p
                    grunt plugin inspired by Sprockets to compile CoffeeScripts that has sprockets-style comments to indicate dependencies.
                  %br
                    Languages: Javascript
                  %br
                    Frameworks/Libs: React Native
                  %br
                    Other technologies: SASS
          %section.post
            %header.post-header
              %h2.post-title AsanaGodContact - ruby gem
              %p.post-meta
                By
                %a.post-author{:href => "/"} Roman Rott
                using
                %a.post-category{:href => "#"} Ruby
                %a.post-category{:href => "#"} Ruby gem
            .post-description
              .post-images.pure-g
                .pure-u-1.pure-u-md-1-2
                  %a{:href => "http://asana.rott.org.ua/"}
                    %img.pure-img-responsive{:alt => "findmegetme", :src => "/images/portfolio/asana-god-contact/asana-god-contact-gem.png"}/
                  .post-image-meta
                    %br
                    * Project's homepage was generated by GitHub Pages
                .pure-u-1.pure-u-md-1-2.post-description
                  .pure-u-1
                    It is a gem for sending notifications to Asana using Godrb tool. Godrb is an easy to configure, easy to extend monitoring framework written in Ruby.
                    %a{:href => "http://godrb.com/"}
                      http://godrb.com/
                  .pure-u-1
                    Asana is a web and mobile application designed to help teams track their work.

                  .pure-u-1
                    This OSS ruby gem allows to send notification to asana in case godrb raises an issue with your ruby app.
                  .pure-u-1
                    %b Languages:
                    Ruby
                  .pure-u-1
                    %b Testing Frameworks:
                    Mocha, Minitest

        .footer
          .pure-menu.pure-menu-horizontal
            = partial 'links'
