%body
  #layout.pure-g
    .sidebar.pure-u-1.pure-u-md-1-4
      .header
        %h1.brand-title A Sample Blog
        %h2.brand-tagline Creating a blog layout using Pure
        %nav.nav
          %ul.nav-list
            %li.nav-item
              %a.pure-button{:href => "http://purecss.io"} Pure
            %li.nav-item
              %a.pure-button{:href => "http://yuilibrary.com"} YUI Library
    .content.pure-u-1.pure-u-md-3-4
      %div
        / A wrapper for all the blog posts
        .posts
          %h1.content-subhead Full-stack projects
        .posts
          %h1.content-subhead Front-end projects
        .posts
          %h1.content-subhead Back-end projects
        .posts
          %h1.content-subhead Web projects
          %section.post
            %header.post-header
              %h2.post-title Cloud hosting control panel for CloudByIX.com and IXWebhosting.com
            .post-description
              .post-images.pure-g
                .pure-u-1.pure-u-md-1-2
                  %a{:href => "http://www.flickr.com/photos/uberlife/8915936174/"}
                    %img.pure-img-responsive{:alt => "Photo of someone working poolside at a resort", :src => "http://farm8.staticflickr.com/7448/8915936174_8d54ec76c6.jpg"}/
                  .post-image-meta
                    %h3 CloudByIX Control Panel
                .pure-u-1.pure-u-md-1-2.post-description
                  %p
                    Cloud by IX is a Cloud Hosting service created for system and database administrators, developers, resellers, hosting professionals, web architects, designers, and business infrastructure. An entire business can literally be operated within a single Cloud by IX product.
                  %br
                    Role: Full-stack developer
                  %br
                    Responsebilityes: Integration and adaptation current Cloud Control Panel to a new brand with new design end environment.
                  %br
                    Languages:  Ruby, CoffeeScript, JavaScript
                  %br
                    Frameworks/Libs: Ruby on Rails, Sinatra, Backbone.js, Marionette.js, jQuery
                  %br
                    Testing Frameworks: Rspec, Capybara, Jasmine
                  %br
                    Other technologies: Capistrano, SASS, faye, god, warden, cells
          %section.post
            %header.post-header
              %h2.post-title Cloud hosting control panel for CloudByIX.com
            .post-description
              .post-images.pure-g
                .pure-u-1.pure-u-md-1-2
                  %a{:href => "http://www.flickr.com/photos/uberlife/8915936174/"}
                    %img.pure-img-responsive{:alt => "Photo of someone working poolside at a resort", :src => "http://farm8.staticflickr.com/7448/8915936174_8d54ec76c6.jpg"}/
                  .post-image-meta
                    %h3 IXwebhosting.com, HostExcellence.com and CloudByIX.com Shared Control Panel
                .pure-u-1.pure-u-md-1-2.post-description
                  %p
                    IXwebhosting.com, HostExcellence.com and CloudByIX.com are sheraed hosting services. This control panel was created to allow ustomers to manage their hosting, domains, ssl certs and other hosting related products.
                  %br
                    Role: Front-end developer, supperted existent control panel and added new features to it
                  %br
                    Responsebilityes: Supporting current  Control Panel to a new brand with new design end environment.
                  %br
                    Languages:  Ruby, CoffeeScript, JavaScript
                  %br
                    Frameworks/Libs: Ruby on Rails, Backbone.js, jQuery
                  %br
                    Testing Frameworks: Rspec, Capybara, Jasmine
                  %br
                    Other technologies: Capistrano, SASS, faye, god, warden, cells
          %section.post
            %header.post-header
              %h2.post-title irarott.com - online store of digital matherial
            .post-description
              .post-images.pure-g
                .pure-u-1.pure-u-md-1-2
                  %a{:href => "http://www.flickr.com/photos/uberlife/8915936174/"}
                    %img.pure-img-responsive{:alt => "Photo of someone working poolside at a resort", :src => "http://farm8.staticflickr.com/7448/8915936174_8d54ec76c6.jpg"}/
                  .post-image-meta
                    %h3 irarott.com
                .pure-u-1.pure-u-md-1-2.post-description
                  %p
                    Ira is a Knit & Crochet Designer living in Southern Ontario, Canada. Ira enjoy graphic design that helps to enhance her PDF Patterns and Books.
                  %br
                    Role: Full-stack developer.
                  %br
                    Responsebilityes: CMS written from scratch allows to add and sale new pdf patterns. Created the whole project starting from configuring web-server, designing architecture, SEO-optimisation, etc.
                  %br
                    Languages:  Ruby, CoffeeScript
                  %br
                    Frameworks/Libs: Padrino, Jquery
                  %br
                    Testing Frameworks: Rspec, Capybara, Jasmine
                  %br
                    Other technologies: SASS
          %section.post
            %header.post-header
              %h2.post-title shlyapa-pay.xyz - paymant system for CTF game
            .post-description
              .post-images.pure-g
                .pure-u-1.pure-u-md-1-2
                  %a{:href => "http://www.flickr.com/photos/uberlife/8915936174/"}
                    %img.pure-img-responsive{:alt => "Photo of someone working poolside at a resort", :src => "http://farm8.staticflickr.com/7448/8915936174_8d54ec76c6.jpg"}/
                  .post-image-meta
                    %h3 shlyapa-pay.xyz
                .pure-u-1.pure-u-md-1-2.post-description
                  %p
                    It's a payment system created for a CTF game. It has its own shopping cart and kind of social network created with several pre-defined vulnerabilityes.
                  %br
                    Role: Full-stack developer.
                  %br
                    Responsebilityes: Shopping cart creatted from scratch allows to create new shopping cart. It has integration with ... . I've created the whole project starting from configuring web-server, designing architecture, SEO-optimisation, etc.
                  %br
                    Languages:  Ruby, CoffeeScript
                  %br
                    Frameworks/Libs: Padrino, Jquery
                  %br
                    Testing Frameworks: Rspec, Capybara, Jasmine
                  %br
                    Other technologies: SASS
          %section.post
            %header.post-header
              %h2.post-title vpn-.xyz
            .post-description
              .post-images.pure-g
                .pure-u-1.pure-u-md-1-2
                  %a{:href => "http://www.flickr.com/photos/uberlife/8915936174/"}
                    %img.pure-img-responsive{:alt => "Photo of someone working poolside at a resort", :src => "http://farm8.staticflickr.com/7448/8915936174_8d54ec76c6.jpg"}/
                  .post-image-meta
                    %h3 vpn-.xyz
                .pure-u-1.pure-u-md-1-2.post-description
                  %p
                    VPN service with deep integration of shlyapapay.xyz payment service. It was created for anothe CTF game with a new bounch of pre-defined vulnerabilityes. Application had 1 billing system integrated with shlyapap.pay, 3 PN servers located in ... .... ... and one payment service.
                  %br
                    Role: Full-stack developer.
                  %br
                    Responsebilityes: Shopping cart creatted from scratch allows to create new shopping cart. It has integration with ... . I've created the whole project starting from configuring web-server, designing architecture, SEO-optimisation, etc.
                  %br
                    Languages: Ruby, CoffeeScript
                  %br
                    Frameworks/Libs: Padrino, Jquery
                  %br
                    Testing Frameworks: Rspec, Capybara, Jasmine
                  %br
                    Other technologies: SASS
          %section.post
            %header.post-header
              %h2.post-title findmegetme.xyz
            .post-description
              .post-images.pure-g
                .pure-u-1.pure-u-md-1-2
                  %a{:href => "http://www.flickr.com/photos/uberlife/8915936174/"}
                    %img.pure-img-responsive{:alt => "Photo of someone working poolside at a resort", :src => "http://farm8.staticflickr.com/7448/8915936174_8d54ec76c6.jpg"}/
                  .post-image-meta
                    %h3 findmegetme.xyz
                .pure-u-1.pure-u-md-1-2.post-description
                  %p
                    Dating service that allws clients to find each other and to chat paying for the messages. This service had vulnerabilityes to allow visitors to use social engeniryng to fing flags
                  %br
                    Role: Full-stack developer.
                  %br
                    Responsebilityes: Shopping cart creatted from scratch allows to create new shopping cart. It has integration with ... . I've created the whole project starting from configuring web-server, designing architecture, SEO-optimisation, etc.
                  %br
                    Languages: Ruby, Rails, Javascript
                  %br
                    Frameworks/Libs: Padrino, Jquery
                  %br
                    Testing Frameworks: Rspec, Capybara, Jasmine
                  %br
                    Other technologies: SASS
        .footer
          .pure-menu.pure-menu-horizontal
            = partial 'links'
