%body
  #layout.pure-g
    .sidebar.pure-u-1.pure-u-md-1-4
      .header
        %h1.brand-title A Sample Blog
        %h2.brand-tagline Creating a blog layout using Pure
        %nav.nav
          %ul.nav-list
            %li.nav-item
              %a.pure-button{:href => "http://purecss.io"} Pure
            %li.nav-item
              %a.pure-button{:href => "http://yuilibrary.com"} YUI Library
    .content.pure-u-1.pure-u-md-3-4
      %div
        / A wrapper for all the blog posts
        .posts
          %h1.content-subhead Full-stack projects
        .posts
          %h1.content-subhead Front-end projects
        .posts
          %h1.content-subhead Back-end projects
        .posts
          %h1.content-subhead Mobile projects
          %section.post
            %header.post-header
              %h2.post-title Cloud hosting control panel for CloudByIX.com
            .post-description
              .post-images.pure-g
                .pure-u-1.pure-u-md-1-2
                  %a{:href => "http://www.flickr.com/photos/uberlife/8915936174/"}
                    %img.pure-img-responsive{:alt => "Photo of someone working poolside at a resort", :src => "http://farm8.staticflickr.com/7448/8915936174_8d54ec76c6.jpg"}/
                  .post-image-meta
                    %h3 CloudByIX Control Panel
                .pure-u-1.pure-u-md-1-2.post-description
                  %p
                    Cloud by IX is a Cloud Hosting service created for system and database administrators, developers, resellers, hosting professionals, web architects, designers, and business infrastructure. An entire business can literally be operated within a single Cloud by IX product.
                  %br
                    Role: Full-stack development
                  %br
                    Responsebilityes: Integration and adaptation current Cloud Control Panel to a new brand with new design end environment.
                  %br
                    Languages:  Ruby, CoffeeScript, JavaScript
                  %br
                    Frameworks/Libs: Ruby on Rails, Sinatra, Backbone.js, Marionette.js, jQuery
                  %br
                    Testing Frameworks: Rspec, Capybara, Jasmine
                  %br
                    Other technologies: Capistrano, SASS, faye, god, warden, cells


        .footer
          .pure-menu.pure-menu-horizontal
            %ul
              %li.pure-menu-item
                %a.pure-menu-link{:href => "http://purecss.io/"} About
              %li.pure-menu-item
                %a.pure-menu-link{:href => "http://twitter.com/yuilibrary/"} Twitter
              %li.pure-menu-item
                %a.pure-menu-link{:href => "http://github.com/yahoo/pure/"} GitHub
