%body
  #layout.pure-g
    .sidebar.pure-u-1.pure-u-md-1-4
      .header.portfolio-left-part
        -# %img.pure-img-responsive.logo{alt: "rrott's Ukrainian ruby logo", src: "/images/rrott-ruby-logo.png",onmouseover: "this.src='/images/rrott-ruby-logo-ukraine.png'", onmouseout: "this.src='/images/rrott-ruby-logo.png'"}
        -# %br
        -# %br
        %h1.brand-title Portfolio page
        %h2.brand-tagline Projects that I've been worked on during 2015-2016 years
        %nav.nav
          %ul.nav-list
            %li.nav-item
              %a.pure-button{:href => "https://rott.org.ua"} Home
            %li.nav-item
              %a.pure-button{:href => "https://rott.org.ua/blog"} Blog
        .portfolio-contacts
          %br
          = partial 'links'
          %br
          Available for hire
    .content.pure-u-1.pure-u-md-3-4
      %div
        / A wrapper for all the blog posts
        .posts
          %h2.content-subhead Full-stack projects

          %section.post
            %header.post-header
              %h2.post-title IraRott.com - online store of knit and crochet patterns
            .post-description
              .post-images.pure-g
                .pure-u-1.pure-u-md-1-2
                  %a{:href => "https://irarott.com"}
                    %img.pure-img-responsive{:alt => "IraRott.com - online store of knit and crochet patterns", :src => "/images/portfolio/ira-rott-com/1.png"}/
                .pure-u-1.pure-u-md-1-2.post-description
                  %p
                    Ira is a Knit & Crochet Designer living in Southern Ontario, Canada. Ira enjoy graphic design that helps to enhance her PDF Patterns and Books.
                  %br
                    Role: Full-stack developer.
                  %br
                    Responsebilityes: CMS written from scratch allows to add and sale new pdf patterns. Created the whole project starting from configuring web-server, designing architecture, SEO-optimisation, etc.
                  %br
                    Languages:  Ruby, CoffeeScript
                  %br
                    Frameworks/Libs: Padrino, Jquery
                  %br
                    Testing Frameworks: Rspec, Capybara, Jasmine
                  %br
                    Other technologies: SASS

          %section.post
            %header.post-header
              %h2.post-title Cloud Hosting control panel for IxWebhosting.com
            .post-description
              .post-images.pure-g
                .pure-u-1.pure-u-md-1-2
                  %a{:href => "/"}
                    %img.pure-img-responsive{:alt => "Cloud hosting control panel IXWebhosting.com", :src => "/images/portfolio/cloudui/1.png"}/
                .pure-u-1.pure-u-md-1-2.post-description
                  %p
                    Cloud by IX is a Cloud Hosting service created for system and database administrators, developers, resellers, hosting professionals, web architects, designers, and business infrastructure. An entire business can literally be operated within a single Cloud by IX product.
                  %br
                    Role: Full-stack developer
                  %br
                    Responsebilityes: Integration and adaptation current Cloud Control Panel to a new brand with new design end environment.
                  %br
                    Languages:  Ruby, CoffeeScript, JavaScript
                  %br
                    Frameworks/Libs: Ruby on Rails, Sinatra, Backbone.js, Marionette.js, jQuery
                  %br
                    Testing Frameworks: Rspec, Capybara, Jasmine
                  %br
                    Other technologies: Capistrano, SASS, faye, god, warden, cells
          %section.post
            %header.post-header
              %h2.post-title rott.org.ua - current website-portfolio
            .post-description
              .post-images.pure-g
                .pure-u-1.pure-u-md-1-2
                  %a{:href => "https://rott.org.ua", :target => 'blank'}
                    %img.pure-img-responsive{:alt => "rott.org.ua website of Roman Rott, rrott", :src => "/images/portfolio/website/rott-org-ua.png"}/

                .pure-u-1.pure-u-md-1-2.post-description
                  %p
                    My own website with blog and portfolio
                  %br
                    Role: Full-stack developer.
                  %br
                    Responsebilityes:
                  %br
                    Languages: Ruby, Javascript, HTML5
                  %br
                    Frameworks/Libs: Middleman
                  %br
                    Other technologies: SASS
          %section.post
            %header.post-header
              %h2.post-title shlyapa-pay.info - paymant system for CTF games
            .post-description
              .post-images.pure-g
                .pure-u-1.pure-u-md-1-2
                  %a{:href => "/#"}
                    %img.pure-img-responsive{:alt => "shlyapa-pay.info", :src => "/images/portfolio/shlyapa-pay-info/1.png"}/
                .pure-u-1.pure-u-md-1-2.post-description
                  %p
                    It's a payment system created for a CTF game. It has its own shopping cart and kind of social network created with several pre-defined vulnerabilityes.
                  %br
                    Role: Full-stack developer.
                  %br
                    Responsebilityes: Shopping cart creatted from scratch allows to create new shopping cart. It has integration with ... . I've created the whole project starting from configuring web-server, designing architecture, SEO-optimisation, etc.
                  %br
                    Languages:  Ruby, CoffeeScript
                  %br
                    Frameworks/Libs: Padrino, Jquery
                  %br
                    Testing Frameworks: Rspec, Capybara, Jasmine
                  %br
                    Other technologies: SASS
          %section.post
            %header.post-header
              %h2.post-title MyBestDate.xyz - dating service for CTF game
            .post-description
              .post-images.pure-g
                .pure-u-1.pure-u-md-1-2
                  %img.pure-img-responsive{:alt => "findmegetme", :src => "/images/portfolio/uisg11/mybestdate/1.png"}/
                .pure-u-1.pure-u-md-1-2.post-description
                  %p
                    Dating service that allws clients to find each other and to chat paying for the messages. This service had vulnerabilityes to allow visitors to use social engeniryng to fing flags
                  %br
                    Role: Full-stack developer.
                  %br
                    Responsebilityes:
                  %br
                    Languages: Ruby, Javascript
                  %br
                    Frameworks/Libs: Padrino, Jquery, Redis
                  %br
                    Testing Frameworks: Rspec, Capybara, Jasmine
                  %br
                    Other technologies: SASS
        .posts
          %h2.content-subhead Front-end projects
          %section.post
            %header.post-header
              %h2.post-title Ordering wizard for Cloud product on CloudByIx.com and IxWebhosting.com
            .post-description
              .post-images.pure-g
                .pure-u-1.pure-u-md-1-2
                  %a{:href => "/"}
                    %img.pure-img-responsive{:alt => "Cloud hosting control panel for CloudByIX.com", :src => "/images/portfolio/ow/1.png"}/
                .pure-u-1.pure-u-md-1-2.post-description
                  %p
                    IXwebhosting.com, HostExcellence.com and CloudByIX.com are sheraed hosting services. This control panel was created to allow ustomers to manage their hosting, domains, ssl certs and other hosting related products.
                  %br
                    Role: Front-end developer, supperted existent control panel and added new features to it
                  %br
                    Responsebilityes: Supporting current  Control Panel to a new brand with new design end environment.
                  %br
                    Languages:  Ruby, CoffeeScript, JavaScript
                  %br
                    Frameworks/Libs: Ruby on Rails, Backbone.js, jQuery
                  %br
                    Testing Frameworks: Rspec, Capybara, Jasmine
                  %br
                    Other technologies: Capistrano, SASS, faye, god, warden, cells

          %section.post
            %header.post-header
              %h2.post-title Landing pages for IxWebhosting.com products
            .post-description
              .post-images.pure-g
                .pure-u-1.pure-u-md-1-2
                  %a{:href => "/"}
                    %img.pure-img-responsive{:alt => "Cloud hosting control panel for CloudByIX.com", :src => "/images/portfolio/landing/1.png"}/
                .pure-u-1.pure-u-md-1-2.post-description
                  %p
                    IXwebhosting.com, HostExcellence.com and CloudByIX.com are sheraed hosting services. This control panel was created to allow ustomers to manage their hosting, domains, ssl certs and other hosting related products.
                  %br
                    Role: Front-end developer, supperted existent control panel and added new features to it
                  %br
                    Responsebilityes: Supporting current  Control Panel to a new brand with new design end environment.
                  %br
                    Languages:  Ruby, CoffeeScript, JavaScript
                  %br
                    Frameworks/Libs: Ruby on Rails, Backbone.js, jQuery
                  %br
                    Testing Frameworks: Rspec, Capybara, Jasmine
                  %br
                    Other technologies: Capistrano, SASS, faye, god, warden, cells


        .posts
          %h2.content-subhead Back-end projects
          %section.post
            %header.post-header
              %h2.post-title SmartVPN.xyz - VPN website and admin system for CTF games.
            .post-description
              .post-images.pure-g
                .pure-u-1.pure-u-md-1-2
                  %a{:href => "/#"}
                    %img.pure-img-responsive{:alt => "smartvpn.xyz", :src => "/images/portfolio/vpn/1.png"}/
                .pure-u-1.pure-u-md-1-2.post-description
                  %p
                    VPN service with deep integration of shlyapapay.xyz payment service. It was created for anothe CTF game with a new bounch of pre-defined vulnerabilityes. Application had 1 billing system integrated with shlyapap.pay, 3 PN servers located in ... .... ... and one payment service.
                  %br
                    Role: Full-stack developer.
                  %br
                    Responsebilityes: Shopping cart creatted from scratch allows to create new shopping cart. It has integration with ... . I've created the whole project starting from configuring web-server, designing architecture, SEO-optimisation, etc.
                  %br
                    Languages: Ruby, CoffeeScript
                  %br
                    Frameworks/Libs: Padrino, Jquery
                  %br
                    Testing Frameworks: Rspec, Capybara, Jasmine
                  %br
                    Other technologies: SASS
          %section.post
            %header.post-header
              %h2.post-title FindMeGetMe.xyz
            .post-description
              .post-images.pure-g
                .pure-u-1.pure-u-md-1-2
                  %img.pure-img-responsive{:alt => "findmegetme", :src => "/images/portfolio/uisg11/findmegetme/1.png"}/
                .pure-u-1.pure-u-md-1-2.post-description
                  %p
                    Dating service that allws clients to find each other and to chat paying for the messages. This service had vulnerabilityes to allow visitors to use social engeniryng to fing flags
                  %br
                    Role: Full-stack developer.
                  %br
                    Responsebilityes: Shopping cart creatted from scratch allows to create new shopping cart. It has integration with ... . I've created the whole project starting from configuring web-server, designing architecture, SEO-optimisation, etc.
                  %br
                    Languages: Ruby, Rails, Javascript
                  %br
                    Frameworks/Libs: Padrino, Jquery
                  %br
                    Testing Frameworks: Rspec, Capybara, Jasmine
                  %br
                    Other technologies: SASS
        .posts
          %h2.content-subhead Mobile applications

          %section.post
            %header.post-header
              %h2.post-title FindMeGetMe.xyz iOS application
            .post-description
              .post-images.pure-g
                .pure-u-1.pure-u-md-1-2
                  %a{:href => "http://www.flickr.com/photos/uberlife/8915936174/"}
                    %img.pure-img-responsive{:alt => "Photo of someone working poolside at a resort", :src => "http://farm8.staticflickr.com/7448/8915936174_8d54ec76c6.jpg"}/
                  .post-image-meta
                    %h3 react native applicaton for IOS
                .pure-u-1.pure-u-md-1-2.post-description
                  %p
                    Application allowed to use api of findmegetme.xyz service to find a girl. This application had hidden flag obfuscated in js bundle that each reac native applicatons have.
                  %br
                    Role: Full-stack developer.
                  %br
                    Responsebilityes: Shopping cart creatted from scratch allows to create new shopping cart. It has integration with ... . I've created the whole project starting from configuring web-server, designing architecture, SEO-optimisation, etc.
                  %br
                    Languages: Javascript
                  %br
                    Frameworks/Libs: React Native
                  %br
                    Other technologies: SASS
        .posts
          %h2.content-subhead Open Source plugins and libs
          %section.post
            %header.post-header
              %h2.post-title grunt-coffee-chain

            .post-description
              .post-images.pure-g
                .pure-u-1.pure-u-md-1-2
                  %a{:href => "http://coffee.rott.org.ua/"}
                    %img.pure-img-responsive{:alt => "findmegetme", :src => "/images/portfolio/grunt-coffee-chain/1.png"}/
                  .post-image-meta
                    %br
                    * Project's homepage was generated by GitHub Pages
                .pure-u-1.pure-u-md-1-2.post-description
                  %p
                    grunt plugin inspired by Sprockets to compile CoffeeScripts that has sprockets-style comments to indicate dependencies.
                  %br
                    Languages: Javascript
                  %br
                    Frameworks/Libs: React Native
                  %br
                    Other technologies: SASS
          %section.post
            %header.post-header
              %h2.post-title AsanaGodContact
            .post-description
              .post-images.pure-g
                .pure-u-1.pure-u-md-1-2
                  %a{:href => "http://asana.rott.org.ua/"}
                    %img.pure-img-responsive{:alt => "findmegetme", :src => "/images/portfolio/asana-god-contact/1.png"}/
                  .post-image-meta
                    %br
                    * Project's homepage was generated by GitHub Pages
                .pure-u-1.pure-u-md-1-2.post-description
                  %p
                    A God::Contacts class for sending notifications to Asana. God is an easy to configure, easy to extend monitoring framework written in Ruby. http://godrb.com/
                  %br
                    Languages: Javascript
                  %br
                    Frameworks/Libs: React Native
                  %br
                    Other technologies: SASS

        .footer
          .pure-menu.pure-menu-horizontal
            = partial 'links'
