#preview
  .overlay
    .bold#close X
    .preview-box.row.justify-center
      #prev <
      .middle
        %img.large-img#preview-image{ alt: "Roman Rott's web projects' screenshots preview", src: "/images/rrott-ruby-logo.svg" }
        .preview-image-title  Roman Rott's web projects' screenshots preview
        #spinner Loading...
      #next >
