#preview
  .bold#close X
  .overlay
    #prev.icon-left-open
    .middle
      %img.large-img.pure-img-responsive#preview-image{ alt: "Roman Rott's web projects' screenshots preview", src: "/images/rrott-ruby-logo.svg" }
      .preview-image-title  Roman Rott's web projects' screenshots preview
      #spinner Loading...
    #next.icon-right-open