%aside.portfolio-menu.center.row.wrap
  %div.dark.vw100
    .brand-title Portfolio
    %h1.brand-tagline Projects accomplished in 2016 and active in 2017
    %nav.nav
      %ul.nav-list
        %li.nav-item.slash
          %a{ href: "/", title: "Roman Rott's home page" } Home
        %li.nav-item.slash
          %a{ href: "/blog/", title: "Roman Rott's blog" } Blog
        %li.nav-item
          %a{ href: "/resume/", title: "Roman Rott's Resume download page" } CV
    .responsive.logo-small
      = partial('images/rrott-ruby-logo.svg').to_s
    .portfolio-contacts.dark.portfolio-qr
      = partial 'partials/links'
      - if open_for_remote
        .open-for-remote Open for remote job opportunities

    .search
      %form#search{ role: "search" }
        %input#search-field{ type: "search", placeholder: "Search", required: "required", autocomplete: "off", results: 5, autosave: "rrott_search", tabindex: 1, spellcheck: true, autocapitalize: "off", autocorrect: "off", autofocus: true, 'x-webkit-speech': true, maxlength: 30, title: 'Enter text to search in the blog' }
      %ul#results

    .portfolio-categories
      %nav.nav.tag-cloud
        %ul.nav-list
          - links.portfolio_sections.each do |section|
            - if section.show_in_menu
              %li.links
                %a{ href: section.url, title: "#{section.name} projects by Roman Rott" } #{ section.name }
          %li
            %a{ href: '/portfolio/', title: "All projects by Roman Rott" } All
  .share
    Share:
    .addthis_sharing_toolbox
