%header.post-header
  %h3.text-block.post-title=project.title
  = partial 'partials/portfolio/tags', locals: { project: project, index: index }
.post-description
  .post-images.flex.row
    .image
      %figure
        = partial 'partials/portfolio/images', locals: { project: project }
    .post-description
      = partial 'partials/portfolio/description', locals: { project: project }