%header.post-header
  %h3.post-title=project.title
  = partial 'partials/portfolio/tags', locals: { project: project, index: index }

.post-images.wrap
  .image
    %figure
      = partial 'partials/portfolio/images', locals: { project: project }
  .post-description.flex.column
    = partial 'partials/portfolio/description', locals: { project: project }